http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"osfr-test-directories","category":"project","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json
      allow: GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"relationships":{"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/logs/","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/contributors/","meta":{}}}},"citation":{"data":{"type":"nodes","id":"q46yw"},"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/citation/","meta":{}}}},"linked_registrations":{"links":{"self":{"href":"https://api.test.osf.io/v2/nodes/q46yw/relationships/linked_registrations/","meta":{}},"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/linked_registrations/","meta":{}}}},"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/children/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/view_only_links/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/comments/?filter%5Btarget%5D=q46yw","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/linked_by_registrations/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/forks/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/files/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/draft_registrations/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/bibliographic_contributors/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/groups/","meta":{}}}},"affiliated_institutions":{"links":{"self":{"href":"https://api.test.osf.io/v2/nodes/q46yw/relationships/institutions/","meta":{}},"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/institutions/","meta":{}}}},"settings":{"data":{"type":"nodes","id":"q46yw"},"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/settings/","meta":{}}}},"region":{"data":{"type":"regions","id":"us"},"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/identifiers/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/linked_by_nodes/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/registrations/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/node_links/","meta":{}}}},"linked_nodes":{"links":{"self":{"href":"https://api.test.osf.io/v2/nodes/q46yw/relationships/linked_nodes/","meta":{}},"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/linked_nodes/","meta":{}}}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/wikis/","meta":{}}}},"root":{"data":{"type":"nodes","id":"q46yw"},"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/","meta":{}}}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/preprints/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/q46yw/implicit_contributors/","meta":{}}}}},"links":{"self":"https://api.test.osf.io/v2/nodes/q46yw/","html":"https://test.osf.io/q46yw/"},"attributes":{"category":"project","fork":false,"current_user_is_contributor":true,"preprint":false,"description":"","current_user_permissions":["admin","write","read"],"date_modified":"2020-01-08T15:44:47.054274","custom_citation":null,"access_requests_enabled":true,"title":"osfr-test-directories","collection":false,"public":false,"wiki_enabled":true,"subjects":[],"registration":false,"date_created":"2020-01-08T15:44:47.054274","current_user_can_comment":true,"node_license":null,"current_user_is_contributor_or_group_member":true,"tags":[]},"type":"nodes","id":"q46yw"},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-08 15:54:13 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/q46yw/files/osfstorage/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-08 15:54:13 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/q46yw/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=nonexistent&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-08 15:54:13 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
