# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.RData
.Renviron
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
.httr-oauth
.Rprofile
_ignore
*.DS_Store
inst/doc
docs/
