# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.RData
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
.httr-oauth
