language: r
sudo: false
cache: packages

matrix:
  include:
  - r: oldrel
  - r: devel
  - r: release
    r_packages:
      - pkgdown
    after_success:
    - Rscript -e 'covr::codecov()'

    deploy:
      on:
        branch: master
      provider: script
      script: Rscript -e 'pkgdown::deploy_site_github(verbose = TRUE)'
      skip_cleanup: true
