http_interactions:
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/xmwf8/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: 'HTTP/2 400 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"errors":[{"detail":"Any child components must be deleted prior to
        deleting this project."}],"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 16:12:33 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
