http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/mdfb8/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=dir&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e3214da342fc900096700b6","type":"files","attributes":{"guid":null,"checkout":null,"name":"dir1","kind":"folder","path":"/5e3214da342fc900096700b6/","size":null,"provider":"osfstorage","materialized_path":"/dir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e32148b58cd6b00090d9a7a/","meta":{}}},"data":{"id":"5e32148b58cd6b00090d9a7a","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mdfb8/files/osfstorage/5e3214da342fc900096700b6/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mdfb8/","meta":{}}},"data":{"id":"mdfb8","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mdfb8/","meta":{"type":"node"}}},"data":{"type":"node","id":"mdfb8"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e3214da342fc900096700b6/","move":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/","upload":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/","delete":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/","new_folder":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/?kind=folder","self":"https://api.test.osf.io/v2/files/5e3214da342fc900096700b6/"}},{"id":"5e3214f504172e0009ac8fd8","type":"files","attributes":{"guid":null,"checkout":null,"name":"dir2","kind":"folder","path":"/5e3214f504172e0009ac8fd8/","size":null,"provider":"osfstorage","materialized_path":"/dir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"re[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/?kind=folder&name=dir
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 645ef908-3cd6-4ede-ac1b-202d8ac81835
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"links": {"delete": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ff04172e0009ac8fde/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ff04172e0009ac8fde/?kind=folder",
        "move": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ff04172e0009ac8fde/",
        "upload": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ff04172e0009ac8fde/?kind=file"},
        "attributes": {"path": "/5e3214ff04172e0009ac8fde/", "materialized": "/dir/",
        "name": "dir", "resource": "mdfb8", "kind": "folder", "size": null, "sizeInt":
        null, "extra": {}, "provider": "osfstorage", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd"},
        "id": "osfstorage/5e3214ff04172e0009ac8fde/", "type": "files"}}'
  recorded_at: 2020-01-29 23:27:59 GMT
  recorded_with: vcr/0.4.1.93.9000, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e3214ff04172e0009ac8fde/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
    [...]
