http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"gyrp6","type":"nodes","attributes":{"title":"osfr-test-directories","description":"","category":"project","custom_citation":null,"date_created":"2020-01-22T20:54:41.456336","date_modified":"2020-01-22T20:54:41.456336","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/comments/?filter%5Btarget%5D=gyrp6","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/settings/","meta":{}}},"data":{"id":"gyrp6","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/linked_by_registrations/","meta":{}}}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/identifiers/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/relationships/institutions/","meta":{}}}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/","meta":{}}},"data":{"id":"gyrp6","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/citation/","meta":{}}},"data":{"id":"gyrp6","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/gyrp6/preprints/","meta":{}}}}},"links":{"html":"https://test.osf.io/gyrp6/","self":"https://api.test.osf.io/v2/nodes/gyrp6/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-22 20:54:41 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
