http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/mdfb8/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=dir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e3214da342fc900096700b6","type":"files","attributes":{"guid":null,"checkout":null,"name":"dir1","kind":"folder","path":"/5e3214da342fc900096700b6/","size":null,"provider":"osfstorage","materialized_path":"/dir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e32148b58cd6b00090d9a7a/","meta":{}}},"data":{"id":"5e32148b58cd6b00090d9a7a","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mdfb8/files/osfstorage/5e3214da342fc900096700b6/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mdfb8/","meta":{}}},"data":{"id":"mdfb8","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mdfb8/","meta":{"type":"node"}}},"data":{"type":"node","id":"mdfb8"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e3214da342fc900096700b6/","move":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/","upload":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/","delete":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/","new_folder":"https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/?kind=folder","self":"https://api.test.osf.io/v2/files/5e3214da342fc900096700b6/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-29 23:27:41 GMT
  recorded_with: vcr/0.4.1.93.9000, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/mdfb8/files/osfstorage/5e3214da342fc900096700b6/?filter%5Bkind%5D=folder&filter%5Bname%5D=dir11&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-29 23:27:41 GMT
  recorded_with: vcr/0.4.1.93.9000, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214da342fc900096700b6/?kind=folder&name=dir11
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 25f2ab63-b233-4220-8afa-533b2909a534
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"type": "files", "id": "osfstorage/5e3214ec342fc900096700bb/",
        "links": {"new_folder": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ec342fc900096700bb/?kind=folder",
        "move": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ec342fc900096700bb/",
        "delete": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ec342fc900096700bb/",
        "upload": "https://files.us.test.osf.io/v1/resources/mdfb8/providers/osfstorage/5e3214ec342fc900096700bb/?kind=file"},
        "attributes": {"sizeInt": null, "kind": "folder", "extra": {}, "resource":
        "mdfb8", "materialized": "/dir1/dir11/", "name": "dir11", "path": "/5e3214ec342fc900096700bb/",
        "provider": "osfstorage", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "size": null}}}'
  recorded_at: 2020-01-29 23:27:41 GMT
  recorded_with: vcr/0.4.1.93.9000, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e3214ec342fc900096700bb/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
    [...]
