http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/drwby/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=dir2&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-02-19 18:33:02 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/?kind=folder&name=dir2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: d92647ff-e40c-45a4-a352-25fd82731087
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/5e4d7f5d1c2d510009417deb/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": "dir2", "path": "/5e4d7f5d1c2d510009417deb/",
        "provider": "osfstorage", "materialized": "/dir2/", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "drwby", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/",
        "upload": "https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/?kind=folder"}}}'
  recorded_at: 2020-02-19 18:33:02 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e4d7f5d1c2d510009417deb/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5e4d7f5d1c2d510009417deb","type":"files","attributes":{"guid":null,"checkout":null,"name":"dir2","kind":"folder","path":"/5e4d7f5d1c2d510009417deb/","size":null,"provider":"osfstorage","materialized_path":"/dir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e4d7f56094d99000903bdf7/","meta":{}}},"data":{"id":"5e4d7f56094d99000903bdf7","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/drwby/files/osfstorage/5e4d7f5d1c2d510009417deb/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/drwby/","meta":{}}},"data":{"id":"drwby","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/drwby/","meta":{"type":"node"}}},"data":{"type":"node","id":"drwby"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e4d7f5d1c2d510009417deb/","move":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/","upload":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/","delete":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/","new_folder":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/?kind=folder","self":"https://api.test.osf.io/v2/files/5e4d7f5d1c2d510009417deb/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-02-19 18:33:02 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/drwby/files/osfstorage/5e4d7f5d1c2d510009417deb/?filter%5Bkind%5D=folder&filter%5Bname%5D=dir21&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-02-19 18:33:02 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f5d1c2d510009417deb/?kind=folder&name=dir21
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-r[...]
[...]
