http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/drwby/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=nonexistent&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-02-19 18:32:55 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.96
