http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/drwby/files/osfstorage/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e4d7f581c2d510009417de2","type":"files","attributes":{"guid":null,"checkout":null,"name":"dir1","kind":"folder","path":"/5e4d7f581c2d510009417de2/","size":null,"provider":"osfstorage","materialized_path":"/dir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e4d7f56094d99000903bdf7/","meta":{}}},"data":{"id":"5e4d7f56094d99000903bdf7","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/drwby/files/osfstorage/5e4d7f581c2d510009417de2/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/drwby/","meta":{}}},"data":{"id":"drwby","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/drwby/","meta":{"type":"node"}}},"data":{"type":"node","id":"drwby"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e4d7f581c2d510009417de2/","move":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f581c2d510009417de2/","upload":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f581c2d510009417de2/","delete":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f581c2d510009417de2/","new_folder":"https://files.us.test.osf.io/v1/resources/drwby/providers/osfstorage/5e4d7f581c2d510009417de2/?kind=folder","self":"https://api.test.osf.io/v2/files/5e4d7f581c2d510009417de2/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-02-19 18:32:57 GMT
  recorded_with: vcr/0.4.1.97, webmockr/0.5.1.96
