http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/kxzmn/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273dc60763dc000a1cff4c","type":"files","attributes":{"guid":null,"checkout":null,"name":"d.txt","kind":"file","path":"/63273dc60763dc000a1cff4c","size":2,"provider":"osfstorage","materialized_path":"/d.txt","last_touched":null,"date_modified":"2022-09-18T15:48:22.583338","date_created":"2022-09-18T15:48:22.583338Z","extra":{"hashes":{"md5":"48a24b70a0b376535542b996af517398","sha256":"7de1555df0c2700329e815b93b32c571c3ea54dc967b89e81ab73b9972b72d1d"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dc3044bea000b89ccd0/","meta":{}}},"data":{"id":"63273dc3044bea000b89ccd0","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dc60763dc000a1cff4c/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dc60763dc000a1cff4c/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/kxzmn/","meta":{}}},"data":{"id":"kxzmn","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/kxzmn/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"kxzmn"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273dc60763dc000a1cff4c/","move":"https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc60763dc000a1cff4c","upload":"https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc60763dc000a1cff4c","delete":"https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc60763dc000a1cff4c","download":"https://test.osf.io/download/63273dc60763dc000a1cff4c/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273dc60763dc000a1cff4c/?direct%26mode=render","html":"https://test.osf.io/kxzmn/files/osfstorage/63273dc60763dc000a1cff4c","self":"https://api.test.osf.io/v2/files/63273dc60763dc000a1cff4c/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 03e58094-c409-4531-97f8-3fb07b423ea4
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273dc9a870ac000a7c0359", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1",
        "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"}},
        "kind": "file", "name": "a.txt", "path": "/63273dc9a870ac000a7c0359", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "868dffa2fb3fb4c8090920dfe2810661cc8cd696b2e95fc2aee530cae1f3617d",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:48:26.110114+00:00",
        "modified_utc": "2022-09-18T15:48:26+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "kxzmn"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc9a870ac000a7c0359",
        "upload": "https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc9a870ac000a7c0359?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc9a870ac000a7c0359",
        "download": "https://files.us.test.osf.io/v1/resources/kxzmn/providers/osfstorage/63273dc9a870ac000a7c0359"}}}'
  recorded_at: 2022-09-18 15:48:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273dc9a870ac000a7c0359/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
    [...]
