http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/bdhyq/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e334815342fc90009b70d56","type":"files","attributes":{"guid":null,"checkout":null,"name":"d.txt","kind":"file","path":"/5e334815342fc90009b70d56","size":2,"provider":"osfstorage","materialized_path":"/d.txt","last_touched":null,"date_modified":"2020-01-30T21:18:13.859596Z","date_created":"2020-01-30T21:18:13.859596Z","extra":{"hashes":{"md5":"48a24b70a0b376535542b996af517398","sha256":"7de1555df0c2700329e815b93b32c571c3ea54dc967b89e81ab73b9972b72d1d"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33480e88196e0009bdce4f/","meta":{}}},"data":{"id":"5e33480e88196e0009bdce4f","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/","meta":{}}},"data":{"id":"bdhyq","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/","meta":{"type":"node"}}},"data":{"type":"node","id":"bdhyq"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/","move":"https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e334815342fc90009b70d56","upload":"https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e334815342fc90009b70d56","delete":"https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e334815342fc90009b70d56","download":"https://test.osf.io/download/5e334815342fc90009b70d56/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5e334815342fc90009b70d56/?direct%26mode=render","html":"https://test.osf.io/bdhyq/files/osfstorage/5e334815342fc90009b70d56","self":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:18:23 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 7ae4a23a-5a95-49dc-9972-d63cd16a4279
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"type": "files", "links": {"upload": "https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e33481e342fc90009b70d5e?kind=file",
        "download": "https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e33481e342fc90009b70d5e",
        "delete": "https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e33481e342fc90009b70d5e",
        "move": "https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e33481e342fc90009b70d5e"},
        "id": "osfstorage/5e33481e342fc90009b70d5e", "attributes": {"path": "/5e33481e342fc90009b70d5e",
        "resource": "bdhyq", "etag": "a9ff4870445d379e533a1aa81ce7ba8c7ea4d6817fc9c1dc7843547b4d38811e",
        "name": "a.txt", "provider": "osfstorage", "materialized": "/a.txt", "size":
        2, "created_utc": null, "contentType": "application/octet-stream", "kind":
        "file", "modified": "2020-01-30T21:18:22.568667+00:00", "extra": {"hashes":
        {"sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865",
        "md5": "b026324c6904b2a9cb4b88d6d61c81d1"}, "checkout": null, "downloads":
        0, "latestVersionSeen": null, "guid": null, "version": 1}, "modified_utc":
        "2020-01-30T21:18:22+00:00", "sizeInt": 2}}}'
  recorded_at: 2020-01-30 21:18:23 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e33481e342fc90009b70d5e/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
    [...]
