http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/59k7c/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a0b609d56900090c437a","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/6021a0b609d56900090c437a","size":3,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2021-02-08T20:36:06.955526Z","date_created":"2021-02-08T20:36:06.955526Z","extra":{"hashes":{"md5":"a5ea0ad9260b1550a14cc58d2c39b03d","sha256":"f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0b2a2e6820009b32052/","meta":{}}},"data":{"id":"6021a0b2a2e6820009b32052","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/","meta":{"type":"node"}}},"data":{"type":"node","id":"59k7c"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/","move":"https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a","upload":"https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a","delete":"https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a","download":"https://test.osf.io/download/6021a0b609d56900090c437a/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a0b609d56900090c437a/?direct%26mode=render","html":"https://test.osf.io/59k7c/files/osfstorage/6021a0b609d56900090c437a","self":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:10 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a?kind=file
    body:
      encoding: ''
      string: 'upload, file size: 5'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: a91e6f76-6b79-41ed-a769-1045c9cbb73c
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a0b609d56900090c437a", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 2, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "2145971cf82058b108229a3a2e3bff35",
        "sha256": "bf874c7dd3a83cf370fdc17e496e341de06cd596b5c66dbf3c9bb7f6c139e3ee"}},
        "kind": "file", "name": "a.txt", "path": "/6021a0b609d56900090c437a", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "53dddd9b6d3a797cc7e92990d2fa0900451af4042fa94dc5dfa5bca23f2ec698",
        "contentType": "application/octet-stream", "modified": "2021-02-08T20:36:10.420544+00:00",
        "modified_utc": "2021-02-08T20:36:10+00:00", "created_utc": null, "size":
        5, "sizeInt": 5, "resource": "59k7c"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a",
        "upload": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a",
        "download": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a"}}}'
  recorded_at: 2021-02-08 20:36:10 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
    [...]
