http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/3qmst/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273dd40763dc000a1cff61","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/63273dd40763dc000a1cff61","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2022-09-18T15:48:36.385167","date_created":"2022-09-18T15:48:36.385167Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dd0e0c830000a8de921/","meta":{}}},"data":{"id":"63273dd0e0c830000a8de921","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/","meta":{}}},"data":{"id":"3qmst","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"3qmst"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/","move":"https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61","upload":"https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61","delete":"https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61","download":"https://test.osf.io/download/63273dd40763dc000a1cff61/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273dd40763dc000a1cff61/?direct%26mode=render","html":"https://test.osf.io/3qmst/files/osfstorage/63273dd40763dc000a1cff61","self":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61?kind=file
    body:
      encoding: ''
      string: 'upload, file size: 4'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 48c2ea9f-1afd-41f2-821c-eb5947e5f319
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273dd40763dc000a1cff61", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 2, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "d3b07384d113edec49eaa6238ad5ff00",
        "sha256": "b5bb9d8014a0f9b1d61e21e796d78dccdf1352f23cd32812f4850b878ae4944c"}},
        "kind": "file", "name": "a.txt", "path": "/63273dd40763dc000a1cff61", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "fd1d4d5e17625cb5cd81947ddef8108a152b45620e7d1229b643b13e79cc55e7",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:48:40.459354+00:00",
        "modified_utc": "2022-09-18T15:48:40+00:00", "created_utc": null, "size":
        4, "sizeInt": 4, "resource": "3qmst"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61",
        "upload": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61",
        "download": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61"}}}'
  recorded_at: 2022-09-18 15:48:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
    [...]
