http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/5dtxf/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"subdir-upload","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"pvw5x","type":"nodes","attributes":{"title":"subdir-upload","description":"","category":"","custom_citation":null,"date_created":"2022-09-18T15:47:10.885273","date_modified":"2022-09-18T15:47:10.885273","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/comments/?filter%5Btarget%5D=pvw5x","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/settings/","meta":{}}},"data":{"id":"pvw5x","type":"node-setting"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/citation/","meta":{}}},"data":{"id":"pvw5x","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/storage/","meta":{}}},"data":{"id":"pvw5x","type":"node-storage"}}},"links":{"html":"https://test.osf.io/pvw5x/","self":"https://api.test.osf.io/v2/nodes/pvw5x/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/pvw5x/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: f999a699-158b-48fd-b098-b92a50f6f2df
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d800763dc000a1cfeea/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": "subdir1_1", "path":
        "/63273d800763dc000a1cfeea/", "provider": "osfstorage", "materialized": "/subdir1_1/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "pvw5x", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/",
        "upload": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/?kind=folder"}}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273d800763dc000a1cfeea/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"63273d800763dc000a1cfeea","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1_1","kind":"folder","path":"/63273d800763dc000a1cfeea/","size":null,"provider":"osfstorage","materialized_path":"/subdir1_1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d7f044bea000b89ccc6/","meta":{}}},"data":{"id":"63273d7f044bea000b89ccc6","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/files/osfstorage/63273d800763dc000a1cfeea/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/","meta":{}}},"data":{"id":"pvw5x","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"pvw5x"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d800763dc000a1cfeea/","move":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/","upload":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/","delete":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/","new_folder":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d800763dc000a1cfeea/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/pvw5x/files/osfstorage/63273d800763dc000a1cfeea/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/?kind=file&name=e.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 2ab07cd3-731b-4a10-9e79-132868da183c
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d84a870ac000a7c02f2", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "1dcca23355272056f04fe8bf20edfce0",
        "sha256": "f0b5c2c2211c8d67ed15e75e656c7862d086e9245420892a7de62cd9ec582a06"}},
        "kind": "file", "name": "e.txt", "path": "/63273d84a870ac000a7c02f2", "provider":
        "osfstorage", "materialized": "/subdir1_1/e.txt", "etag": "95a0a7069eea8d0bd39dcdbbc322aa173a412d177e6208646e1c574cf4e13b4c",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:47:16.194724+00:00",
        "modified_utc": "2022-09-18T15:47:16+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "pvw5x"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2",
        "upload": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2",
        "download": "https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2"}}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/?kind=file&name=f.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
