http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/mzavs/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"recurse=1","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"7qkyb","type":"nodes","attributes":{"title":"recurse=1","description":"","category":"","custom_citation":null,"date_created":"2020-01-30T21:13:55.661724","date_modified":"2020-01-30T21:13:55.661724","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/comments/?filter%5Btarget%5D=7qkyb","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/settings/","meta":{}}},"data":{"id":"7qkyb","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/identifiers/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/relationships/institutions/","meta":{}}}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/citation/","meta":{}}},"data":{"id":"7qkyb","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/preprints/","meta":{}}}}},"links":{"html":"https://test.osf.io/7qkyb/","self":"https://api.test.osf.io/v2/nodes/7qkyb/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7qkyb/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 2b8afe54-4574-4205-9289-3a38c94e9b16
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"links": {"upload": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=folder",
        "move": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/"},
        "attributes": {"provider": "osfstorage", "name": ".osfr-tests", "kind": "folder",
        "path": "/5e33471504172e0009b161a0/", "sizeInt": null, "size": null, "etag":
        "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd", "extra":
        {}, "materialized": "/.osfr-tests/", "resource": "7qkyb"}, "id": "osfstorage/5e33471504172e0009b161a0/",
        "type": "files"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e33471504172e0009b161a0/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5e33471504172e0009b161a0","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/5e33471504172e0009b161a0/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33471388196e0009bdce45/","meta":{}}},"data":{"id":"5e33471388196e0009bdce45","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/files/osfstorage/5e33471504172e0009b161a0/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/","meta":{}}},"data":{"id":"7qkyb","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7qkyb/","meta":{"type":"node"}}},"data":{"type":"node","id":"7qkyb"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33471504172e0009b161a0/","move":"https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/","upload":"https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/","delete":"https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/","new_folder":"https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=folder","self":"https://api.test.osf.io/v2/files/5e33471504172e0009b161a0/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7qkyb/files/osfstorage/5e33471504172e0009b161a0/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7qkyb/files/osfstorage/5e334717342fc90009b70cff/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e334717342fc90009b70cff/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutl[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7qkyb/files/osfstorage/5e33471504172e0009b161a0/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 404280fb-d5e8-44ba-afb9-5e06030f272e
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"type": "files", "links": {"upload": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33472204172e0009b161a9?kind=file",
        "download": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33472204172e0009b161a9",
        "delete": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33472204172e0009b161a9",
        "move": "https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33472204172e0009b161a9"},
        "id": "osfstorage/5e33472204172e0009b161a9", "attributes": {"path": "/5e33472204172e0009b161a9",
        "resource": "7qkyb", "etag": "2fde619e647ee751875c7622f1d8ad0475b1d9a2bb8cd5da4df400631876c83b",
        "name": "a.txt", "provider": "osfstorage", "materialized": "/.osfr-tests/a.txt",
        "size": 2, "created_utc": null, "contentType": "application/octet-stream",
        "kind": "file", "modified": "2020-01-30T21:14:10.686530+00:00", "extra": {"hashes":
        {"sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865",
        "md5": "b026324c6904b2a9cb4b88d6d61c81d1"}, "checkout": null, "downloads":
        0, "latestVersionSeen": null, "guid": null, "version": 1}, "modified_utc":
        "2020-01-30T21:14:10+00:00", "sizeInt": 2}}}'
  recorded_at: 2020-01-30 21:14:24 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471504172e0009b161a0/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e334717342fc90009b70cff/?kind=file&name=d.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7qkyb/providers/osfstorage/5e33471e342fc90009b70d0a/?kind=file&name=g.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
