http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/mzavs/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"parent-directories","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"bdhyq","type":"nodes","attributes":{"title":"parent-directories","description":"","category":"","custom_citation":null,"date_created":"2020-01-30T21:18:06.430714","date_modified":"2020-01-30T21:18:06.430714","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/comments/?filter%5Btarget%5D=bdhyq","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/settings/","meta":{}}},"data":{"id":"bdhyq","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/identifiers/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/relationships/institutions/","meta":{}}}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/citation/","meta":{}}},"data":{"id":"bdhyq","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/preprints/","meta":{}}}}},"links":{"html":"https://test.osf.io/bdhyq/","self":"https://api.test.osf.io/v2/nodes/bdhyq/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:18:06 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
