http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/ntecg/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"conflicts","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"59k7c","type":"nodes","attributes":{"title":"conflicts","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T20:36:02.654739","date_modified":"2021-02-08T20:36:02.654739","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/comments/?filter%5Btarget%5D=59k7c","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/settings/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/59k7c/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/59k7c/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/59k7c/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/citation/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/storage/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}}},"links":{"html":"https://test.osf.io/59k7c/","self":"https://api.test.osf.io/v2/nodes/59k7c/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:07 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/59k7c/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:07 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 3663ca87-accf-4192-9881-aa730f0c9705
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a0b609d56900090c437a", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "a5ea0ad9260b1550a14cc58d2c39b03d",
        "sha256": "f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"}},
        "kind": "file", "name": "a.txt", "path": "/6021a0b609d56900090c437a", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "0e1c2da29b1621d7f70111149c041af20f897e0052f85b03b5ac8dcf5c04e844",
        "contentType": "application/octet-stream", "modified": "2021-02-08T20:36:06.955526+00:00",
        "modified_utc": "2021-02-08T20:36:06+00:00", "created_utc": null, "size":
        3, "sizeInt": 3, "resource": "59k7c"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a",
        "upload": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a",
        "download": "https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a"}}}'
  recorded_at: 2021-02-08 20:36:07 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"6021a0b609d56900090c437a","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/6021a0b609d56900090c437a","size":3,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2021-02-08T20:36:06.955526Z","date_created":"2021-02-08T20:36:06.955526Z","extra":{"hashes":{"md5":"a5ea0ad9260b1550a14cc58d2c39b03d","sha256":"f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0b2a2e6820009b32052/","meta":{}}},"data":{"id":"6021a0b2a2e6820009b32052","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/","meta":{"type":"node"}}},"data":{"type":"node","id":"59k7c"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/","move":"https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a","upload":"https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a","delete":"https://files.us.test.osf.io/v1/resources/59k7c/providers/osfstorage/6021a0b609d56900090c437a","download":"https://test.osf.io/download/6021a0b609d56900090c437a/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a0b609d56900090c437a/?direct%26mode=render","html":"https://test.osf.io/59k7c/files/osfstorage/6021a0b609d56900090c437a","self":"https://api.test.osf.io/v2/files/6021a0b609d56900090c437a/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:07 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
