http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/ntecg/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"subdir-upload","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"54rxg","type":"nodes","attributes":{"title":"subdir-upload","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T20:34:55.274082","date_modified":"2021-02-08T20:34:55.274082","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/comments/?filter%5Btarget%5D=54rxg","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/settings/","meta":{}}},"data":{"id":"54rxg","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/54rxg/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/54rxg/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/54rxg/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/citation/","meta":{}}},"data":{"id":"54rxg","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/storage/","meta":{}}},"data":{"id":"54rxg","type":"nodes"}}},"links":{"html":"https://test.osf.io/54rxg/","self":"https://api.test.osf.io/v2/nodes/54rxg/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/54rxg/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 786e93d3-d883-483f-adc3-a0115cb3d5ae
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a07009d56900090c4302/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": "subdir1_1", "path":
        "/6021a07009d56900090c4302/", "provider": "osfstorage", "materialized": "/subdir1_1/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "54rxg", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/",
        "upload": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/?kind=folder"}}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/6021a07009d56900090c4302/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"6021a07009d56900090c4302","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1_1","kind":"folder","path":"/6021a07009d56900090c4302/","size":null,"provider":"osfstorage","materialized_path":"/subdir1_1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a06fa2e6820009b32043/","meta":{}}},"data":{"id":"6021a06fa2e6820009b32043","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/files/osfstorage/6021a07009d56900090c4302/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/","meta":{}}},"data":{"id":"54rxg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/","meta":{"type":"node"}}},"data":{"type":"node","id":"54rxg"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a07009d56900090c4302/","move":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/","upload":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/","delete":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/","new_folder":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a07009d56900090c4302/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/54rxg/files/osfstorage/6021a07009d56900090c4302/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/?kind=file&name=e.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: b0e5763d-4867-44ca-87fc-65878c54cb21
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a0735533dc00095c540e", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "8bf1569c67ae09bffec145f2ab96e637",
        "sha256": "7fb2aaeaf3eef66b52db104118c30f62899f5f0df520350a94a8fcb843c0dfdf"}},
        "kind": "file", "name": "e.txt", "path": "/6021a0735533dc00095c540e", "provider":
        "osfstorage", "materialized": "/subdir1_1/e.txt", "etag": "d07bb6764c9a318ebab4fecb3afa0e7f80ec102a2654f1eb5feea466f5cb4a70",
        "contentType": "application/octet-stream", "modified": "2021-02-08T20:34:59.883470+00:00",
        "modified_utc": "2021-02-08T20:34:59+00:00", "created_utc": null, "size":
        3, "sizeInt": 3, "resource": "54rxg"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e",
        "upload": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e",
        "download": "https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e"}}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/?kind=file&name=f.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
