http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/mzavs/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"recurse=TRUE","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"xh6v8","type":"nodes","attributes":{"title":"recurse=TRUE","description":"","category":"","custom_citation":null,"date_created":"2020-01-30T21:16:02.426727","date_modified":"2020-01-30T21:16:02.426727","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/comments/?filter%5Btarget%5D=xh6v8","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/settings/","meta":{}}},"data":{"id":"xh6v8","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/identifiers/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/relationships/institutions/","meta":{}}}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/citation/","meta":{}}},"data":{"id":"xh6v8","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/preprints/","meta":{}}}}},"links":{"html":"https://test.osf.io/xh6v8/","self":"https://api.test.osf.io/v2/nodes/xh6v8/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: f54dbf23-58c4-405d-a80e-489575ab25f3
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"type": "files", "links": {"upload": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=file",
        "new_folder": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=folder",
        "delete": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/",
        "move": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/"},
        "id": "osfstorage/5e33479404172e0009b161c9/", "attributes": {"kind": "folder",
        "materialized": "/.osfr-tests/", "resource": "xh6v8", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "name": ".osfr-tests", "path": "/5e33479404172e0009b161c9/", "provider": "osfstorage",
        "extra": {}, "size": null, "sizeInt": null}}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e33479404172e0009b161c9/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5e33479404172e0009b161c9","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/5e33479404172e0009b161c9/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33479288196e0009bdce4a/","meta":{}}},"data":{"id":"5e33479288196e0009bdce4a","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e33479404172e0009b161c9/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/","meta":{}}},"data":{"id":"xh6v8","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/","meta":{"type":"node"}}},"data":{"type":"node","id":"xh6v8"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33479404172e0009b161c9/","move":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/","upload":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/","delete":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/","new_folder":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=folder","self":"https://api.test.osf.io/v2/files/5e33479404172e0009b161c9/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e33479404172e0009b161c9/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e334796342fc90009b70d1c/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e334796342fc90009b70d1c/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutl[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e33479404172e0009b161c9/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: ebea45ef-a362-4387-9720-f040eb8fbe33
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"links": {"upload": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347a0342fc90009b70d2c?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347a0342fc90009b70d2c",
        "download": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347a0342fc90009b70d2c",
        "move": "https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347a0342fc90009b70d2c"},
        "attributes": {"modified": "2020-01-30T21:16:16.214891+00:00", "provider":
        "osfstorage", "created_utc": null, "path": "/5e3347a0342fc90009b70d2c", "size":
        2, "etag": "b655e3c2e1ef02f7dc77b3d49bc81a59728d64ea284153cabd3fbc51210ed777",
        "resource": "xh6v8", "materialized": "/.osfr-tests/a.txt", "sizeInt": 2, "name":
        "a.txt", "kind": "file", "contentType": "application/octet-stream", "modified_utc":
        "2020-01-30T21:16:16+00:00", "extra": {"guid": null, "version": 1, "checkout":
        null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1", "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},
        "downloads": 0, "latestVersionSeen": null}}, "id": "osfstorage/5e3347a0342fc90009b70d2c",
        "type": "files"}}'
  recorded_at: 2020-01-30 21:16:37 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479404172e0009b161c9/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e334796342fc90009b70d1c/?kind=file&name=d.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479904172e0009b161cf/?kind=file&name=e.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479904172e0009b161cf/?kind=file&name=f.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e33479b342fc90009b70d25/?kind=file&name=g.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
