http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/5dtxf/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"dir-upload","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"538fg","type":"nodes","attributes":{"title":"dir-upload","description":"","category":"","custom_citation":null,"date_created":"2022-09-18T15:46:53.069826","date_modified":"2022-09-18T15:46:53.069826","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/comments/?filter%5Btarget%5D=538fg","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/settings/","meta":{}}},"data":{"id":"538fg","type":"node-setting"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/538fg/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/538fg/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/538fg/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/citation/","meta":{}}},"data":{"id":"538fg","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/storage/","meta":{}}},"data":{"id":"538fg","type":"node-storage"}}},"links":{"html":"https://test.osf.io/538fg/","self":"https://api.test.osf.io/v2/nodes/538fg/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/538fg/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 13894cb7-8752-443b-906f-14f45bfbea1e
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d6fa870ac000a7c02d9/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": ".osfr-tests", "path":
        "/63273d6fa870ac000a7c02d9/", "provider": "osfstorage", "materialized": "/.osfr-tests/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "538fg", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/",
        "upload": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=folder"}}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273d6fa870ac000a7c02d9/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"63273d6fa870ac000a7c02d9","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/63273d6fa870ac000a7c02d9/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d6d044bea000b89ccc1/","meta":{}}},"data":{"id":"63273d6d044bea000b89ccc1","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/files/osfstorage/63273d6fa870ac000a7c02d9/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/","meta":{}}},"data":{"id":"538fg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"538fg"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d6fa870ac000a7c02d9/","move":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/","upload":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/","delete":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/","new_folder":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d6fa870ac000a7c02d9/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/538fg/files/osfstorage/63273d6fa870ac000a7c02d9/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-reques[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/538fg/files/osfstorage/63273d6fa870ac000a7c02d9/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 2a1e0990-99c2-4617-98cf-5bae624afaf3
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d78a870ac000a7c02e7", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1",
        "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"}},
        "kind": "file", "name": "a.txt", "path": "/63273d78a870ac000a7c02e7", "provider":
        "osfstorage", "materialized": "/.osfr-tests/a.txt", "etag": "137c24b7c1681a34b8cf97e24856b001038a9558d9d0be7c1284ca1c24b861bf",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:47:04.252991+00:00",
        "modified_utc": "2022-09-18T15:47:04+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "538fg"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d78a870ac000a7c02e7",
        "upload": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d78a870ac000a7c02e7?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d78a870ac000a7c02e7",
        "download": "https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d78a870ac000a7c02e7"}}}'
  recorded_at: 2022-09-18 15:47:09 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d6fa870ac000a7c02d9/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
