http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/mzavs/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"conflicts","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"jk8qw","type":"nodes","attributes":{"title":"conflicts","description":"","category":"","custom_citation":null,"date_created":"2020-01-30T21:18:56.571740","date_modified":"2020-01-30T21:18:56.571740","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/comments/?filter%5Btarget%5D=jk8qw","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/settings/","meta":{}}},"data":{"id":"jk8qw","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/identifiers/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/relationships/institutions/","meta":{}}}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/citation/","meta":{}}},"data":{"id":"jk8qw","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/preprints/","meta":{}}}}},"links":{"html":"https://test.osf.io/jk8qw/","self":"https://api.test.osf.io/v2/nodes/jk8qw/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:19:00 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/jk8qw/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:19:00 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 3040ec2e-bf62-4d09-8817-966c04f00e78
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"links": {"upload": "https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1",
        "download": "https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1",
        "move": "https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1"},
        "attributes": {"modified": "2020-01-30T21:18:59.988291+00:00", "provider":
        "osfstorage", "created_utc": null, "path": "/5e33484304172e0009b161f1", "size":
        2, "etag": "1b2a7125038213f66e5efbfcb06196fbae122046ae9ef6d68fa5811df5d860dd",
        "resource": "jk8qw", "materialized": "/a.txt", "sizeInt": 2, "name": "a.txt",
        "kind": "file", "contentType": "application/octet-stream", "modified_utc":
        "2020-01-30T21:18:59+00:00", "extra": {"guid": null, "version": 1, "checkout":
        null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1", "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},
        "downloads": 0, "latestVersionSeen": null}}, "id": "osfstorage/5e33484304172e0009b161f1",
        "type": "files"}}'
  recorded_at: 2020-01-30 21:19:00 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e33484304172e0009b161f1/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5e33484304172e0009b161f1","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/5e33484304172e0009b161f1","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2020-01-30T21:18:59.988291Z","date_created":"2020-01-30T21:18:59.988291Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33484088196e0009bdce59/","meta":{}}},"data":{"id":"5e33484088196e0009bdce59","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33484304172e0009b161f1/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33484304172e0009b161f1/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/","meta":{}}},"data":{"id":"jk8qw","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jk8qw/","meta":{"type":"node"}}},"data":{"type":"node","id":"jk8qw"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33484304172e0009b161f1/","move":"https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1","upload":"https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1","delete":"https://files.us.test.osf.io/v1/resources/jk8qw/providers/osfstorage/5e33484304172e0009b161f1","download":"https://test.osf.io/download/5e33484304172e0009b161f1/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5e33484304172e0009b161f1/?direct%26mode=render","html":"https://test.osf.io/jk8qw/files/osfstorage/5e33484304172e0009b161f1","self":"https://api.test.osf.io/v2/files/5e33484304172e0009b161f1/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:19:00 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
