http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/5dtxf/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"recurse=1","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"7wvjg","type":"nodes","attributes":{"title":"recurse=1","description":"","category":"","custom_citation":null,"date_created":"2022-09-18T15:47:19.576539","date_modified":"2022-09-18T15:47:19.576539","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/comments/?filter%5Btarget%5D=7wvjg","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/settings/","meta":{}}},"data":{"id":"7wvjg","type":"node-setting"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/citation/","meta":{}}},"data":{"id":"7wvjg","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/storage/","meta":{}}},"data":{"id":"7wvjg","type":"node-storage"}}},"links":{"html":"https://test.osf.io/7wvjg/","self":"https://api.test.osf.io/v2/nodes/7wvjg/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 4a6d4b40-a84e-40d0-adeb-e783c708a4a4
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d890763dc000a1cfef2/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": ".osfr-tests", "path":
        "/63273d890763dc000a1cfef2/", "provider": "osfstorage", "materialized": "/.osfr-tests/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "7wvjg", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/",
        "upload": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=folder"}}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273d890763dc000a1cfef2/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"63273d890763dc000a1cfef2","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/63273d890763dc000a1cfef2/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d87e0c830000a8de91c/","meta":{}}},"data":{"id":"63273d87e0c830000a8de91c","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d890763dc000a1cfef2/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{}}},"data":{"id":"7wvjg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"7wvjg"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d890763dc000a1cfef2/","move":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/","upload":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/","delete":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/","new_folder":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d890763dc000a1cfef2/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d890763dc000a1cfef2/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-reques[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d8b0763dc000a1cfef8/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d8b0763dc000a1cfef8/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-requ[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d890763dc000a1cfef2/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 32375f7e-56b8-454b-826c-9fbf5f80c653
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d940763dc000a1cff02", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1",
        "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"}},
        "kind": "file", "name": "a.txt", "path": "/63273d940763dc000a1cff02", "provider":
        "osfstorage", "materialized": "/.osfr-tests/a.txt", "etag": "ff0f03a18fdee8e16f77803af76ba6aa73dc5c0033fd52e5f9034ffda2540ae9",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:47:32.631953+00:00",
        "modified_utc": "2022-09-18T15:47:32+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "7wvjg"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d940763dc000a1cff02",
        "upload": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d940763dc000a1cff02?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d940763dc000a1cff02",
        "download": "https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d940763dc000a1cff02"}}}'
  recorded_at: 2022-09-18 15:47:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d890763dc000a1cfef2/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d8b0763dc000a1cfef8/?kind=file&name=d.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d90a870ac000a7c0306/?kind=file&name=g.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
