http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"osfr-multifile-upload-test","category":"project","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5dtxf","type":"nodes","attributes":{"title":"osfr-multifile-upload-test","description":"","category":"project","custom_citation":null,"date_created":"2022-09-18T15:46:41.748752","date_modified":"2022-09-18T15:46:41.748752","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/comments/?filter%5Btarget%5D=5dtxf","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/settings/","meta":{}}},"data":{"id":"5dtxf","type":"node-setting"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/linked_by_registrations/","meta":{}}}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/citation/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/storage/","meta":{}}},"data":{"id":"5dtxf","type":"node-storage"}}},"links":{"html":"https://test.osf.io/5dtxf/","self":"https://api.test.osf.io/v2/nodes/5dtxf/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:46:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
