http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/5dtxf/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"conflicts","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"3qmst","type":"nodes","attributes":{"title":"conflicts","description":"","category":"","custom_citation":null,"date_created":"2022-09-18T15:48:32.152007","date_modified":"2022-09-18T15:48:32.152007","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/comments/?filter%5Btarget%5D=3qmst","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/settings/","meta":{}}},"data":{"id":"3qmst","type":"node-setting"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/3qmst/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/3qmst/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/3qmst/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/citation/","meta":{}}},"data":{"id":"3qmst","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/storage/","meta":{}}},"data":{"id":"3qmst","type":"node-storage"}}},"links":{"html":"https://test.osf.io/3qmst/","self":"https://api.test.osf.io/v2/nodes/3qmst/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/3qmst/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 0e48d13c-96dc-4501-823b-49bf85d60452
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273dd40763dc000a1cff61", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1",
        "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"}},
        "kind": "file", "name": "a.txt", "path": "/63273dd40763dc000a1cff61", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "92bfed87785cf01d693910f6b3165525306466bef1e998ad0d3ae121eb1ff7b5",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:48:36.385167+00:00",
        "modified_utc": "2022-09-18T15:48:36+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "3qmst"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61",
        "upload": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61",
        "download": "https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61"}}}'
  recorded_at: 2022-09-18 15:48:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"63273dd40763dc000a1cff61","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/63273dd40763dc000a1cff61","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2022-09-18T15:48:36.385167","date_created":"2022-09-18T15:48:36.385167Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dd0e0c830000a8de921/","meta":{}}},"data":{"id":"63273dd0e0c830000a8de921","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/","meta":{}}},"data":{"id":"3qmst","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/3qmst/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"3qmst"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/","move":"https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61","upload":"https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61","delete":"https://files.us.test.osf.io/v1/resources/3qmst/providers/osfstorage/63273dd40763dc000a1cff61","download":"https://test.osf.io/download/63273dd40763dc000a1cff61/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273dd40763dc000a1cff61/?direct%26mode=render","html":"https://test.osf.io/3qmst/files/osfstorage/63273dd40763dc000a1cff61","self":"https://api.test.osf.io/v2/files/63273dd40763dc000a1cff61/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:36 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
