http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/ntecg/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"recurse=1","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"u426y","type":"nodes","attributes":{"title":"recurse=1","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T20:35:03.440501","date_modified":"2021-02-08T20:35:03.440501","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/comments/?filter%5Btarget%5D=u426y","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/settings/","meta":{}}},"data":{"id":"u426y","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/u426y/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/u426y/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/u426y/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/citation/","meta":{}}},"data":{"id":"u426y","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/storage/","meta":{}}},"data":{"id":"u426y","type":"nodes"}}},"links":{"html":"https://test.osf.io/u426y/","self":"https://api.test.osf.io/v2/nodes/u426y/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 3acdd510-4c7e-4303-ae7e-33783dfb6304
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a07809d56900090c430d/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": ".osfr-tests", "path":
        "/6021a07809d56900090c430d/", "provider": "osfstorage", "materialized": "/.osfr-tests/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "u426y", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/",
        "upload": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=folder"}}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/6021a07809d56900090c430d/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"6021a07809d56900090c430d","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/6021a07809d56900090c430d/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a077a2e6820009b32048/","meta":{}}},"data":{"id":"6021a077a2e6820009b32048","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07809d56900090c430d/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/","meta":{}}},"data":{"id":"u426y","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/","meta":{"type":"node"}}},"data":{"type":"node","id":"u426y"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a07809d56900090c430d/","move":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/","upload":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/","delete":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/","new_folder":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a07809d56900090c430d/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07809d56900090c430d/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07a5533dc00095c541f/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07a5533dc00095c541f/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutl[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07809d56900090c430d/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 8671c616-e16d-4381-ac60-0bc1b603cc64
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a0815533dc00095c542c", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "a5ea0ad9260b1550a14cc58d2c39b03d",
        "sha256": "f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"}},
        "kind": "file", "name": "a.txt", "path": "/6021a0815533dc00095c542c", "provider":
        "osfstorage", "materialized": "/.osfr-tests/a.txt", "etag": "631a79b491978da40b3158641e23ba3a09c6e98a88118c91749bfba661da4cfa",
        "contentType": "application/octet-stream", "modified": "2021-02-08T20:35:13.416241+00:00",
        "modified_utc": "2021-02-08T20:35:13+00:00", "created_utc": null, "size":
        3, "sizeInt": 3, "resource": "u426y"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0815533dc00095c542c",
        "upload": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0815533dc00095c542c?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0815533dc00095c542c",
        "download": "https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0815533dc00095c542c"}}}'
  recorded_at: 2021-02-08 20:35:22 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07809d56900090c430d/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07a5533dc00095c541f/?kind=file&name=d.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07e5533dc00095c5426/?kind=file&name=g.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
