http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/ntecg/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"dir-upload","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"scbmp","type":"nodes","attributes":{"title":"dir-upload","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T20:34:44.212508","date_modified":"2021-02-08T20:34:44.212508","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/comments/?filter%5Btarget%5D=scbmp","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/settings/","meta":{}}},"data":{"id":"scbmp","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/scbmp/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/scbmp/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/scbmp/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/citation/","meta":{}}},"data":{"id":"scbmp","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/storage/","meta":{}}},"data":{"id":"scbmp","type":"nodes"}}},"links":{"html":"https://test.osf.io/scbmp/","self":"https://api.test.osf.io/v2/nodes/scbmp/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/scbmp/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 5ba24786-73e9-4a72-bd16-ae8b157c2aaa
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a0655533dc00095c53e8/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": ".osfr-tests", "path":
        "/6021a0655533dc00095c53e8/", "provider": "osfstorage", "materialized": "/.osfr-tests/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "scbmp", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/",
        "upload": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=folder"}}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/6021a0655533dc00095c53e8/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"6021a0655533dc00095c53e8","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/6021a0655533dc00095c53e8/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a064a2e6820009b3203e/","meta":{}}},"data":{"id":"6021a064a2e6820009b3203e","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/files/osfstorage/6021a0655533dc00095c53e8/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/","meta":{}}},"data":{"id":"scbmp","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/","meta":{"type":"node"}}},"data":{"type":"node","id":"scbmp"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0655533dc00095c53e8/","move":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/","upload":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/","delete":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/","new_folder":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a0655533dc00095c53e8/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/scbmp/files/osfstorage/6021a0655533dc00095c53e8/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/scbmp/files/osfstorage/6021a0655533dc00095c53e8/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 1ac58007-9b4a-4d58-9eb0-19af154e8fce
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a06a5533dc00095c53f8", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "a5ea0ad9260b1550a14cc58d2c39b03d",
        "sha256": "f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"}},
        "kind": "file", "name": "a.txt", "path": "/6021a06a5533dc00095c53f8", "provider":
        "osfstorage", "materialized": "/.osfr-tests/a.txt", "etag": "ffa394274b5652d34b3a1f8afe369ce85a4234d9bc143a7605b1460bd6ea3f88",
        "contentType": "application/octet-stream", "modified": "2021-02-08T20:34:50.258665+00:00",
        "modified_utc": "2021-02-08T20:34:50+00:00", "created_utc": null, "size":
        3, "sizeInt": 3, "resource": "scbmp"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a06a5533dc00095c53f8",
        "upload": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a06a5533dc00095c53f8?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a06a5533dc00095c53f8",
        "download": "https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a06a5533dc00095c53f8"}}}'
  recorded_at: 2021-02-08 20:34:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0655533dc00095c53e8/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
