http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/mzavs/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"subdir-upload","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"r9ftq","type":"nodes","attributes":{"title":"subdir-upload","description":"","category":"","custom_citation":null,"date_created":"2020-01-30T21:11:04.934759","date_modified":"2020-01-30T21:11:04.934759","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/comments/?filter%5Btarget%5D=r9ftq","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/settings/","meta":{}}},"data":{"id":"r9ftq","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/identifiers/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/relationships/institutions/","meta":{}}}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/citation/","meta":{}}},"data":{"id":"r9ftq","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/preprints/","meta":{}}}}},"links":{"html":"https://test.osf.io/r9ftq/","self":"https://api.test.osf.io/v2/nodes/r9ftq/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:11:14 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/r9ftq/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:11:14 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 92c5eb59-81bc-496b-ba9d-924c5bbe9225
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"type": "files", "links": {"upload": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/?kind=file",
        "new_folder": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/?kind=folder",
        "delete": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/",
        "move": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/"},
        "id": "osfstorage/5e33466a04172e0009b16194/", "attributes": {"kind": "folder",
        "materialized": "/subdir1_1/", "resource": "r9ftq", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "name": "subdir1_1", "path": "/5e33466a04172e0009b16194/", "provider": "osfstorage",
        "extra": {}, "size": null, "sizeInt": null}}}'
  recorded_at: 2020-01-30 21:11:14 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e33466a04172e0009b16194/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5e33466a04172e0009b16194","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1_1","kind":"folder","path":"/5e33466a04172e0009b16194/","size":null,"provider":"osfstorage","materialized_path":"/subdir1_1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33466958cd6b00097d24f5/","meta":{}}},"data":{"id":"5e33466958cd6b00097d24f5","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/files/osfstorage/5e33466a04172e0009b16194/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/","meta":{}}},"data":{"id":"r9ftq","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/","meta":{"type":"node"}}},"data":{"type":"node","id":"r9ftq"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33466a04172e0009b16194/","move":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/","upload":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/","delete":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/","new_folder":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/?kind=folder","self":"https://api.test.osf.io/v2/files/5e33466a04172e0009b16194/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:11:14 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/r9ftq/files/osfstorage/5e33466a04172e0009b16194/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:11:14 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/?kind=file&name=e.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: ff766b62-dd4c-4c82-b633-ac6343f29af3
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"links": {"upload": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced",
        "download": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced",
        "move": "https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced"},
        "attributes": {"modified": "2020-01-30T21:11:11.433870+00:00", "provider":
        "osfstorage", "created_utc": null, "path": "/5e33466f342fc90009b70ced", "size":
        2, "etag": "15232796db8c32ff41cfe6ec9a9a79df28fcda1f647e79e2b82f098c59a81113",
        "resource": "r9ftq", "materialized": "/subdir1_1/e.txt", "sizeInt": 2, "name":
        "e.txt", "kind": "file", "contentType": "application/octet-stream", "modified_utc":
        "2020-01-30T21:11:11+00:00", "extra": {"guid": null, "version": 1, "checkout":
        null, "hashes": {"md5": "1dcca23355272056f04fe8bf20edfce0", "sha256": "f0b5c2c2211c8d67ed15e75e656c7862d086e9245420892a7de62cd9ec582a06"},
        "downloads": 0, "latestVersionSeen": null}}, "id": "osfstorage/5e33466f342fc90009b70ced",
        "type": "files"}}'
  recorded_at: 2020-01-30 21:11:14 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/?kind=file&name=f.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: appl[...]
