http_interactions:
- request:
    method: post
    uri: https://api.test.osf.io/v2/nodes/5dtxf/children/
    body:
      encoding: ''
      string: '{"data":{"type":"nodes","attributes":{"title":"recurse=TRUE","category":"","description":"","public":false}}}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"tsz7d","type":"nodes","attributes":{"title":"recurse=TRUE","description":"","category":"","custom_citation":null,"date_created":"2022-09-18T15:47:47.088957","date_modified":"2022-09-18T15:47:47.088957","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/comments/?filter%5Btarget%5D=tsz7d","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/settings/","meta":{}}},"data":{"id":"tsz7d","type":"node-setting"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/citation/","meta":{}}},"data":{"id":"tsz7d","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/storage/","meta":{}}},"data":{"id":"tsz7d","type":"node-storage"}}},"links":{"html":"https://test.osf.io/tsz7d/","self":"https://api.test.osf.io/v2/nodes/tsz7d/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=.osfr-tests&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/?kind=folder&name=.osfr-tests
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: b2158380-2e1f-452b-afec-5143eb05d006
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273da50763dc000a1cff1a/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": ".osfr-tests", "path":
        "/63273da50763dc000a1cff1a/", "provider": "osfstorage", "materialized": "/.osfr-tests/",
        "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "tsz7d", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/",
        "upload": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=folder"}}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273da50763dc000a1cff1a/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"63273da50763dc000a1cff1a","type":"files","attributes":{"guid":null,"checkout":null,"name":".osfr-tests","kind":"folder","path":"/63273da50763dc000a1cff1a/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273da3044bea000b89cccb/","meta":{}}},"data":{"id":"63273da3044bea000b89cccb","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da50763dc000a1cff1a/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/","meta":{}}},"data":{"id":"tsz7d","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"tsz7d"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273da50763dc000a1cff1a/","move":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/","upload":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/","delete":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/","new_folder":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=folder","self":"https://api.test.osf.io/v2/files/63273da50763dc000a1cff1a/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da50763dc000a1cff1a/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=folder&name=subdir1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-reques[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da80763dc000a1cff1d/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da80763dc000a1cff1d/?kind=folder&name=subdir1_1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-requ[...]
[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da50763dc000a1cff1a/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 3fba9f38-6b4b-42a9-9084-6a909007a654
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273db1a870ac000a7c0332", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1",
        "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"}},
        "kind": "file", "name": "a.txt", "path": "/63273db1a870ac000a7c0332", "provider":
        "osfstorage", "materialized": "/.osfr-tests/a.txt", "etag": "74296d3ca6cf3910302b51d332a4c0578faab73400848b8cf6894b3389ba4033",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:48:02.006309+00:00",
        "modified_utc": "2022-09-18T15:48:02+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "tsz7d"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273db1a870ac000a7c0332",
        "upload": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273db1a870ac000a7c0332?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273db1a870ac000a7c0332",
        "download": "https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273db1a870ac000a7c0332"}}}'
  recorded_at: 2022-09-18 15:48:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da50763dc000a1cff1a/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da80763dc000a1cff1d/?kind=file&name=d.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273daba870ac000a7c032b/?kind=file&name=e.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273daba870ac000a7c032b/?kind=file&name=f.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273dad0763dc000a1cff27/?kind=file&name=g.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application[...]
