http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/ntecg/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"59k7c","type":"nodes","attributes":{"title":"conflicts","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T20:36:02.654739","date_modified":"2021-02-08T20:36:10.643724","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/comments/?filter%5Btarget%5D=59k7c","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/settings/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/59k7c/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/59k7c/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/59k7c/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/citation/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/59k7c/storage/","meta":{}}},"data":{"id":"59k7c","type":"nodes"}}},"links":{"html":"https://test.osf.io/59k7c/","self":"https://api.test.osf.io/v2/nodes/59k7c/"}},{"id":"casw4","type":"nodes","attributes":{"title":"parent-directories","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T20:35:50.439900","date_modified":"2021-02-08T20:36:02.220530","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/59k7c/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/casw4/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/ebhkv/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/54rxg/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/scbmp/children/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/scbmp/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/54rxg/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/u426y/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:32 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/ebhkv/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:32 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/casw4/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:32 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/59k7c/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:32 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: delete
    uri: https://api.test.osf.io/v2/nodes/ntecg/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: application/vnd.api+json; charset=utf-8
      allow: GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2021-02-08 20:36:32 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
