http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e33479404172e0009b161c9/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e334796342fc90009b70d1c","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/5e334796342fc90009b70d1c/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33479404172e0009b161c9/","meta":{}}},"data":{"id":"5e33479404172e0009b161c9","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e334796342fc90009b70d1c/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/","meta":{}}},"data":{"id":"xh6v8","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/","meta":{"type":"node"}}},"data":{"type":"node","id":"xh6v8"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e334796342fc90009b70d1c/","move":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e334796342fc90009b70d1c/","upload":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e334796342fc90009b70d1c/","delete":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e334796342fc90009b70d1c/","new_folder":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e334796342fc90009b70d1c/?kind=folder","self":"https://api.test.osf.io/v2/files/5e334796342fc90009b70d1c/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:17:48 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e334796342fc90009b70d1c/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPT[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/xh6v8/files/osfstorage/5e33479904172e0009b161cf/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e3347ad342fc90009b70d42","type":"files","attributes":{"guid":null,"checkout":null,"name":"e.txt","kind":"file","path":"/5e3347ad342fc90009b70d42","size":2,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/subdir1_1/e.txt","last_touched":null,"date_modified":"2020-01-30T21:16:29.864637Z","date_created":"2020-01-30T21:16:29.864637Z","extra":{"hashes":{"md5":"1dcca23355272056f04fe8bf20edfce0","sha256":"f0b5c2c2211c8d67ed15e75e656c7862d086e9245420892a7de62cd9ec582a06"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33479904172e0009b161cf/","meta":{}}},"data":{"id":"5e33479904172e0009b161cf","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e3347ad342fc90009b70d42/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e3347ad342fc90009b70d42/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/","meta":{}}},"data":{"id":"xh6v8","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/xh6v8/","meta":{"type":"node"}}},"data":{"type":"node","id":"xh6v8"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e3347ad342fc90009b70d42/","move":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347ad342fc90009b70d42","upload":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347ad342fc90009b70d42","delete":"https://files.us.test.osf.io/v1/resources/xh6v8/providers/osfstorage/5e3347ad342fc90009b70d42","download":"https://test.osf.io/download/5e3347ad342fc90009b70d42/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5e3347ad342fc90009b70d42/?direct%26mode=render","html":"https://test.osf.io/xh6v8/files/osfstorage/5e3347ad342fc90009b70d42","self":"https://api.test.osf.io/v2/files/5e3347ad342fc90009b70d42/"}},{"id":"5e3347b204172e0009b161e1","type":"files","attributes":{"guid":null,"checkout":null,"name":"f.txt","kind":"file","path":"/5e3347b204172e0009b161e1","size":2,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/subdir1_1/f.txt","last_touched":null,"date_modified":"2020-01-30T21:16:34.252160Z","date_created":"2020-01-30T21:16:34.252160Z","ex[...]
