http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07809d56900090c430d/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir2&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a07e5533dc00095c5426","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir2","kind":"folder","path":"/6021a07e5533dc00095c5426/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a07809d56900090c430d/","meta":{}}},"data":{"id":"6021a07809d56900090c430d","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07e5533dc00095c5426/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/","meta":{}}},"data":{"id":"u426y","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/","meta":{"type":"node"}}},"data":{"type":"node","id":"u426y"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a07e5533dc00095c5426/","move":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07e5533dc00095c5426/","upload":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07e5533dc00095c5426/","delete":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07e5533dc00095c5426/","new_folder":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a07e5533dc00095c5426/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a07e5533dc00095c5426/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/u426y/files/osfstorage/6021a07e5533dc00095c5426/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a0895533dc00095c5440","type":"files","attributes":{"guid":null,"checkout":null,"name":"g.txt","kind":"file","path":"/6021a0895533dc00095c5440","size":3,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/g.txt","last_touched":null,"date_modified":"2021-02-08T20:35:21.967182Z","date_created":"2021-02-08T20:35:21.967182Z","extra":{"hashes":{"md5":"a0b6c3e24f6f2433b030951bc488f759","sha256":"9b6dd0f55d1cea37555db317f53a0631f694bd46df8018cc2aeed3d9e2f32f5f"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a07e5533dc00095c5426/","meta":{}}},"data":{"id":"6021a07e5533dc00095c5426","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0895533dc00095c5440/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0895533dc00095c5440/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/","meta":{}}},"data":{"id":"u426y","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/u426y/","meta":{"type":"node"}}},"data":{"type":"node","id":"u426y"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0895533dc00095c5440/","move":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0895533dc00095c5440","upload":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0895533dc00095c5440","delete":"https://files.us.test.osf.io/v1/resources/u426y/providers/osfstorage/6021a0895533dc00095c5440","download":"https://test.osf.io/download/6021a0895533dc00095c5440/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a0895533dc00095c5440/?direct%26mode=render","html":"https://test.osf.io/u426y/files/osfstorage/6021a0895533dc00095c5440","self":"https://api.test.osf.io/v2/files/6021a0895533dc00095c5440/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:23 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
