http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/scbmp/files/osfstorage/6021a0655533dc00095c53e8/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a0665533dc00095c53ee","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/6021a0665533dc00095c53ee/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0655533dc00095c53e8/","meta":{}}},"data":{"id":"6021a0655533dc00095c53e8","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/files/osfstorage/6021a0665533dc00095c53ee/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/","meta":{}}},"data":{"id":"scbmp","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/scbmp/","meta":{"type":"node"}}},"data":{"type":"node","id":"scbmp"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0665533dc00095c53ee/","move":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0665533dc00095c53ee/","upload":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0665533dc00095c53ee/","delete":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0665533dc00095c53ee/","new_folder":"https://files.us.test.osf.io/v1/resources/scbmp/providers/osfstorage/6021a0665533dc00095c53ee/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a0665533dc00095c53ee/"}},{"id":"6021a0685533dc00095c53f2","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir2","kind":"folder","path":"/6021a0685533dc00095c53f2/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_fol[...]
