http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da50763dc000a1cff1a/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273da80763dc000a1cff1d","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/63273da80763dc000a1cff1d/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273da50763dc000a1cff1a/","meta":{}}},"data":{"id":"63273da50763dc000a1cff1a","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da80763dc000a1cff1d/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/","meta":{}}},"data":{"id":"tsz7d","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"tsz7d"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273da80763dc000a1cff1d/","move":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da80763dc000a1cff1d/","upload":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da80763dc000a1cff1d/","delete":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da80763dc000a1cff1d/","new_folder":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273da80763dc000a1cff1d/?kind=folder","self":"https://api.test.osf.io/v2/files/63273da80763dc000a1cff1d/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:48:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273da80763dc000a1cff1d/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPT[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/tsz7d/files/osfstorage/63273daba870ac000a7c032b/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273dbca870ac000a7c0348","type":"files","attributes":{"guid":null,"checkout":null,"name":"e.txt","kind":"file","path":"/63273dbca870ac000a7c0348","size":2,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/subdir1_1/e.txt","last_touched":null,"date_modified":"2022-09-18T15:48:13.021276","date_created":"2022-09-18T15:48:13.021276Z","extra":{"hashes":{"md5":"1dcca23355272056f04fe8bf20edfce0","sha256":"f0b5c2c2211c8d67ed15e75e656c7862d086e9245420892a7de62cd9ec582a06"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273daba870ac000a7c032b/","meta":{}}},"data":{"id":"63273daba870ac000a7c032b","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dbca870ac000a7c0348/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273dbca870ac000a7c0348/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/","meta":{}}},"data":{"id":"tsz7d","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/tsz7d/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"tsz7d"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273dbca870ac000a7c0348/","move":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273dbca870ac000a7c0348","upload":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273dbca870ac000a7c0348","delete":"https://files.us.test.osf.io/v1/resources/tsz7d/providers/osfstorage/63273dbca870ac000a7c0348","download":"https://test.osf.io/download/63273dbca870ac000a7c0348/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273dbca870ac000a7c0348/?direct%26mode=render","html":"https://test.osf.io/tsz7d/files/osfstorage/63273dbca870ac000a7c0348","self":"https://api.test.osf.io/v2/files/63273dbca870ac000a7c0348/"}},{"id":"63273dbfa870ac000a7c034d","type":"files","attributes":{"guid":null,"checkout":null,"name":"f.txt","kind":"file","path":"/63273dbfa870ac000a7c034d","size":2,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/subdir1_1/f.txt","last_touched":null,"date_modified":"2022-09-18T15:48:15.862058","date_created":"2022-09-18T15:48:15.862058Z","ext[...]
