http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/casw4/files/osfstorage/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a0ab09d56900090c4366","type":"files","attributes":{"guid":null,"checkout":null,"name":"d.txt","kind":"file","path":"/6021a0ab09d56900090c4366","size":3,"provider":"osfstorage","materialized_path":"/d.txt","last_touched":null,"date_modified":"2021-02-08T20:35:55.490450Z","date_created":"2021-02-08T20:35:55.490450Z","extra":{"hashes":{"md5":"c83bbf39a26190b2d0ec2d3091356053","sha256":"7c468f5e59f2871b946e051445493bbcace531d597edbbcc9935e7d02d025114"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0a6a2e6820009b3204d/","meta":{}}},"data":{"id":"6021a0a6a2e6820009b3204d","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0ab09d56900090c4366/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0ab09d56900090c4366/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/casw4/","meta":{}}},"data":{"id":"casw4","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/casw4/","meta":{"type":"node"}}},"data":{"type":"node","id":"casw4"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0ab09d56900090c4366/","move":"https://files.us.test.osf.io/v1/resources/casw4/providers/osfstorage/6021a0ab09d56900090c4366","upload":"https://files.us.test.osf.io/v1/resources/casw4/providers/osfstorage/6021a0ab09d56900090c4366","delete":"https://files.us.test.osf.io/v1/resources/casw4/providers/osfstorage/6021a0ab09d56900090c4366","download":"https://test.osf.io/download/6021a0ab09d56900090c4366/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a0ab09d56900090c4366/?direct%26mode=render","html":"https://test.osf.io/casw4/files/osfstorage/6021a0ab09d56900090c4366","self":"https://api.test.osf.io/v2/files/6021a0ab09d56900090c4366/"}},{"id":"6021a0ae09d56900090c436a","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/6021a0ae09d56900090c436a","size":3,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2021-02-08T20:35:58.492027Z","date_created":"2021-02-08T20:35:58.492027Z","extra":{"hashes":{"md5":"a5ea0ad9260b1550a14cc58d2c39b03d","sha256":"f1b2f662800122bed0ff255693df89c4487fbdcf[...]
