http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/y26eu/files/osfstorage/5e33455904172e0009b16178/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e33455b342fc90009b70cd9","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/5e33455b342fc90009b70cd9/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33455904172e0009b16178/","meta":{}}},"data":{"id":"5e33455904172e0009b16178","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/y26eu/files/osfstorage/5e33455b342fc90009b70cd9/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/y26eu/","meta":{}}},"data":{"id":"y26eu","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/y26eu/","meta":{"type":"node"}}},"data":{"type":"node","id":"y26eu"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33455b342fc90009b70cd9/","move":"https://files.us.test.osf.io/v1/resources/y26eu/providers/osfstorage/5e33455b342fc90009b70cd9/","upload":"https://files.us.test.osf.io/v1/resources/y26eu/providers/osfstorage/5e33455b342fc90009b70cd9/","delete":"https://files.us.test.osf.io/v1/resources/y26eu/providers/osfstorage/5e33455b342fc90009b70cd9/","new_folder":"https://files.us.test.osf.io/v1/resources/y26eu/providers/osfstorage/5e33455b342fc90009b70cd9/?kind=folder","self":"https://api.test.osf.io/v2/files/5e33455b342fc90009b70cd9/"}},{"id":"5e33455e04172e0009b1617d","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir2","kind":"folder","path":"/5e33455e04172e0009b1617d/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_fol[...]
