http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/538fg/files/osfstorage/63273d6fa870ac000a7c02d9/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273d73a870ac000a7c02db","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/63273d73a870ac000a7c02db/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d6fa870ac000a7c02d9/","meta":{}}},"data":{"id":"63273d6fa870ac000a7c02d9","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/files/osfstorage/63273d73a870ac000a7c02db/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/","meta":{}}},"data":{"id":"538fg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/538fg/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"538fg"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d73a870ac000a7c02db/","move":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d73a870ac000a7c02db/","upload":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d73a870ac000a7c02db/","delete":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d73a870ac000a7c02db/","new_folder":"https://files.us.test.osf.io/v1/resources/538fg/providers/osfstorage/63273d73a870ac000a7c02db/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d73a870ac000a7c02db/"}},{"id":"63273d75a870ac000a7c02e0","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir2","kind":"folder","path":"/63273d75a870ac000a7c02e0/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"re[...]
