http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d890763dc000a1cfef2/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir2&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273d90a870ac000a7c0306","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir2","kind":"folder","path":"/63273d90a870ac000a7c0306/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d890763dc000a1cfef2/","meta":{}}},"data":{"id":"63273d890763dc000a1cfef2","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d90a870ac000a7c0306/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{}}},"data":{"id":"7wvjg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"7wvjg"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d90a870ac000a7c0306/","move":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d90a870ac000a7c0306/","upload":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d90a870ac000a7c0306/","delete":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d90a870ac000a7c0306/","new_folder":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d90a870ac000a7c0306/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d90a870ac000a7c0306/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d90a870ac000a7c0306/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273d9fa870ac000a7c031f","type":"files","attributes":{"guid":null,"checkout":null,"name":"g.txt","kind":"file","path":"/63273d9fa870ac000a7c031f","size":2,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir2/g.txt","last_touched":null,"date_modified":"2022-09-18T15:47:43.130076","date_created":"2022-09-18T15:47:43.130076Z","extra":{"hashes":{"md5":"84bc3da1b3e33a18e8d5e1bdd7a18d7a","sha256":"10159baf262b43a92d95db59dae1f72c645127301661e0a3ce4e38b295a97c58"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d90a870ac000a7c0306/","meta":{}}},"data":{"id":"63273d90a870ac000a7c0306","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d9fa870ac000a7c031f/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d9fa870ac000a7c031f/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{}}},"data":{"id":"7wvjg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"7wvjg"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d9fa870ac000a7c031f/","move":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d9fa870ac000a7c031f","upload":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d9fa870ac000a7c031f","delete":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d9fa870ac000a7c031f","download":"https://test.osf.io/download/63273d9fa870ac000a7c031f/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273d9fa870ac000a7c031f/?direct%26mode=render","html":"https://test.osf.io/7wvjg/files/osfstorage/63273d9fa870ac000a7c031f","self":"https://api.test.osf.io/v2/files/63273d9fa870ac000a7c031f/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
