http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/ebhkv/files/osfstorage/6021a08d09d56900090c432e/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a08e09d56900090c4331","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/6021a08e09d56900090c4331/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a08d09d56900090c432e/","meta":{}}},"data":{"id":"6021a08d09d56900090c432e","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ebhkv/files/osfstorage/6021a08e09d56900090c4331/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ebhkv/","meta":{}}},"data":{"id":"ebhkv","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ebhkv/","meta":{"type":"node"}}},"data":{"type":"node","id":"ebhkv"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a08e09d56900090c4331/","move":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a08e09d56900090c4331/","upload":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a08e09d56900090c4331/","delete":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a08e09d56900090c4331/","new_folder":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a08e09d56900090c4331/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a08e09d56900090c4331/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:50 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/ebhkv/files/osfstorage/6021a08e09d56900090c4331/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPT[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/ebhkv/files/osfstorage/6021a0905533dc00095c544d/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a09f5533dc00095c546b","type":"files","attributes":{"guid":null,"checkout":null,"name":"e.txt","kind":"file","path":"/6021a09f5533dc00095c546b","size":3,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/subdir1_1/e.txt","last_touched":null,"date_modified":"2021-02-08T20:35:44.179716Z","date_created":"2021-02-08T20:35:44.179716Z","extra":{"hashes":{"md5":"8bf1569c67ae09bffec145f2ab96e637","sha256":"7fb2aaeaf3eef66b52db104118c30f62899f5f0df520350a94a8fcb843c0dfdf"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0905533dc00095c544d/","meta":{}}},"data":{"id":"6021a0905533dc00095c544d","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a09f5533dc00095c546b/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a09f5533dc00095c546b/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ebhkv/","meta":{}}},"data":{"id":"ebhkv","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ebhkv/","meta":{"type":"node"}}},"data":{"type":"node","id":"ebhkv"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a09f5533dc00095c546b/","move":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a09f5533dc00095c546b","upload":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a09f5533dc00095c546b","delete":"https://files.us.test.osf.io/v1/resources/ebhkv/providers/osfstorage/6021a09f5533dc00095c546b","download":"https://test.osf.io/download/6021a09f5533dc00095c546b/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a09f5533dc00095c546b/?direct%26mode=render","html":"https://test.osf.io/ebhkv/files/osfstorage/6021a09f5533dc00095c546b","self":"https://api.test.osf.io/v2/files/6021a09f5533dc00095c546b/"}},{"id":"6021a0a209d56900090c4355","type":"files","attributes":{"guid":null,"checkout":null,"name":"f.txt","kind":"file","path":"/6021a0a209d56900090c4355","size":3,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/subdir1_1/f.txt","last_touched":null,"date_modified":"2021-02-08T20:35:46.528116Z","date_created":"2021-02-08T20:35:46.528116Z","ex[...]
