http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/pvw5x/files/osfstorage/?filter%5Bkind%5D=folder&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273d800763dc000a1cfeea","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1_1","kind":"folder","path":"/63273d800763dc000a1cfeea/","size":null,"provider":"osfstorage","materialized_path":"/subdir1_1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d7f044bea000b89ccc6/","meta":{}}},"data":{"id":"63273d7f044bea000b89ccc6","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/files/osfstorage/63273d800763dc000a1cfeea/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/","meta":{}}},"data":{"id":"pvw5x","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"pvw5x"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d800763dc000a1cfeea/","move":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/","upload":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/","delete":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/","new_folder":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d800763dc000a1cfeea/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d800763dc000a1cfeea/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
