http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/54rxg/files/osfstorage/?filter%5Bkind%5D=folder&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a07009d56900090c4302","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1_1","kind":"folder","path":"/6021a07009d56900090c4302/","size":null,"provider":"osfstorage","materialized_path":"/subdir1_1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a06fa2e6820009b32043/","meta":{}}},"data":{"id":"6021a06fa2e6820009b32043","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/files/osfstorage/6021a07009d56900090c4302/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/","meta":{}}},"data":{"id":"54rxg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/","meta":{"type":"node"}}},"data":{"type":"node","id":"54rxg"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a07009d56900090c4302/","move":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/","upload":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/","delete":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/","new_folder":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a07009d56900090c4302/?kind=folder","self":"https://api.test.osf.io/v2/files/6021a07009d56900090c4302/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:35:02 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
