http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/54rxg/files/osfstorage/6021a07009d56900090c4302/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"6021a0735533dc00095c540e","type":"files","attributes":{"guid":null,"checkout":null,"name":"e.txt","kind":"file","path":"/6021a0735533dc00095c540e","size":3,"provider":"osfstorage","materialized_path":"/subdir1_1/e.txt","last_touched":null,"date_modified":"2021-02-08T20:34:59.883470Z","date_created":"2021-02-08T20:34:59.883470Z","extra":{"hashes":{"md5":"8bf1569c67ae09bffec145f2ab96e637","sha256":"7fb2aaeaf3eef66b52db104118c30f62899f5f0df520350a94a8fcb843c0dfdf"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a07009d56900090c4302/","meta":{}}},"data":{"id":"6021a07009d56900090c4302","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0735533dc00095c540e/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0735533dc00095c540e/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/","meta":{}}},"data":{"id":"54rxg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/54rxg/","meta":{"type":"node"}}},"data":{"type":"node","id":"54rxg"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a0735533dc00095c540e/","move":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e","upload":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e","delete":"https://files.us.test.osf.io/v1/resources/54rxg/providers/osfstorage/6021a0735533dc00095c540e","download":"https://test.osf.io/download/6021a0735533dc00095c540e/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a0735533dc00095c540e/?direct%26mode=render","html":"https://test.osf.io/54rxg/files/osfstorage/6021a0735533dc00095c540e","self":"https://api.test.osf.io/v2/files/6021a0735533dc00095c540e/"}},{"id":"6021a0765533dc00095c5416","type":"files","attributes":{"guid":null,"checkout":null,"name":"f.txt","kind":"file","path":"/6021a0765533dc00095c5416","size":3,"provider":"osfstorage","materialized_path":"/subdir1_1/f.txt","last_touched":null,"date_modified":"2021-02-08T20:35:02.508797Z","date_created":"2021-02-08T20:35:02.508797Z","extra":{"hashes":{"md5":"66b86ab0232f8377c518f27ef9ae4be8","sha256":"92961e9752250efa971147344b2229[...]
