http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d890763dc000a1cfef2/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273d8b0763dc000a1cfef8","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1","kind":"folder","path":"/63273d8b0763dc000a1cfef8/","size":null,"provider":"osfstorage","materialized_path":"/.osfr-tests/subdir1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d890763dc000a1cfef2/","meta":{}}},"data":{"id":"63273d890763dc000a1cfef2","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d8b0763dc000a1cfef8/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{}}},"data":{"id":"7wvjg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/7wvjg/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"7wvjg"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d8b0763dc000a1cfef8/","move":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d8b0763dc000a1cfef8/","upload":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d8b0763dc000a1cfef8/","delete":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d8b0763dc000a1cfef8/","new_folder":"https://files.us.test.osf.io/v1/resources/7wvjg/providers/osfstorage/63273d8b0763dc000a1cfef8/?kind=folder","self":"https://api.test.osf.io/v2/files/63273d8b0763dc000a1cfef8/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d8b0763dc000a1cfef8/?filter%5Bkind%5D=folder&filter%5Bname%5D=subdir1_1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPT[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/7wvjg/files/osfstorage/63273d8e0763dc000a1cfefd/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:47:46 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
