http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/r9ftq/files/osfstorage/5e33466a04172e0009b16194/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e33466f342fc90009b70ced","type":"files","attributes":{"guid":null,"checkout":null,"name":"e.txt","kind":"file","path":"/5e33466f342fc90009b70ced","size":2,"provider":"osfstorage","materialized_path":"/subdir1_1/e.txt","last_touched":null,"date_modified":"2020-01-30T21:11:11.433870Z","date_created":"2020-01-30T21:11:11.433870Z","extra":{"hashes":{"md5":"1dcca23355272056f04fe8bf20edfce0","sha256":"f0b5c2c2211c8d67ed15e75e656c7862d086e9245420892a7de62cd9ec582a06"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33466a04172e0009b16194/","meta":{}}},"data":{"id":"5e33466a04172e0009b16194","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33466f342fc90009b70ced/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33466f342fc90009b70ced/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/","meta":{}}},"data":{"id":"r9ftq","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/","meta":{"type":"node"}}},"data":{"type":"node","id":"r9ftq"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33466f342fc90009b70ced/","move":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced","upload":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced","delete":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466f342fc90009b70ced","download":"https://test.osf.io/download/5e33466f342fc90009b70ced/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5e33466f342fc90009b70ced/?direct%26mode=render","html":"https://test.osf.io/r9ftq/files/osfstorage/5e33466f342fc90009b70ced","self":"https://api.test.osf.io/v2/files/5e33466f342fc90009b70ced/"}},{"id":"5e334671342fc90009b70cf5","type":"files","attributes":{"guid":null,"checkout":null,"name":"f.txt","kind":"file","path":"/5e334671342fc90009b70cf5","size":2,"provider":"osfstorage","materialized_path":"/subdir1_1/f.txt","last_touched":null,"date_modified":"2020-01-30T21:11:14.069457Z","date_created":"2020-01-30T21:11:14.069457Z","extra":{"hashes":{"md5":"9ae0ea9e3c9c6e1b9b6252c8395efdc1","sha256":"06e9d52c1720fca412803e3b07c4b2[...]
