http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/r9ftq/files/osfstorage/?filter%5Bkind%5D=folder&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e33466a04172e0009b16194","type":"files","attributes":{"guid":null,"checkout":null,"name":"subdir1_1","kind":"folder","path":"/5e33466a04172e0009b16194/","size":null,"provider":"osfstorage","materialized_path":"/subdir1_1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33466958cd6b00097d24f5/","meta":{}}},"data":{"id":"5e33466958cd6b00097d24f5","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/files/osfstorage/5e33466a04172e0009b16194/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/","meta":{}}},"data":{"id":"r9ftq","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/r9ftq/","meta":{"type":"node"}}},"data":{"type":"node","id":"r9ftq"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33466a04172e0009b16194/","move":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/","upload":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/","delete":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/","new_folder":"https://files.us.test.osf.io/v1/resources/r9ftq/providers/osfstorage/5e33466a04172e0009b16194/?kind=folder","self":"https://api.test.osf.io/v2/files/5e33466a04172e0009b16194/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:13:22 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
