http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/pvw5x/files/osfstorage/63273d800763dc000a1cfeea/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"63273d84a870ac000a7c02f2","type":"files","attributes":{"guid":null,"checkout":null,"name":"e.txt","kind":"file","path":"/63273d84a870ac000a7c02f2","size":2,"provider":"osfstorage","materialized_path":"/subdir1_1/e.txt","last_touched":null,"date_modified":"2022-09-18T15:47:16.194724","date_created":"2022-09-18T15:47:16.194724Z","extra":{"hashes":{"md5":"1dcca23355272056f04fe8bf20edfce0","sha256":"f0b5c2c2211c8d67ed15e75e656c7862d086e9245420892a7de62cd9ec582a06"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d800763dc000a1cfeea/","meta":{}}},"data":{"id":"63273d800763dc000a1cfeea","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d84a870ac000a7c02f2/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d84a870ac000a7c02f2/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/","meta":{}}},"data":{"id":"pvw5x","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/pvw5x/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"pvw5x"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d84a870ac000a7c02f2/","move":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2","upload":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2","delete":"https://files.us.test.osf.io/v1/resources/pvw5x/providers/osfstorage/63273d84a870ac000a7c02f2","download":"https://test.osf.io/download/63273d84a870ac000a7c02f2/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273d84a870ac000a7c02f2/?direct%26mode=render","html":"https://test.osf.io/pvw5x/files/osfstorage/63273d84a870ac000a7c02f2","self":"https://api.test.osf.io/v2/files/63273d84a870ac000a7c02f2/"}},{"id":"63273d85a870ac000a7c02f8","type":"files","attributes":{"guid":null,"checkout":null,"name":"f.txt","kind":"file","path":"/63273d85a870ac000a7c02f8","size":2,"provider":"osfstorage","materialized_path":"/subdir1_1/f.txt","last_touched":null,"date_modified":"2022-09-18T15:47:18.021271","date_created":"2022-09-18T15:47:18.021271Z","extra":{"hashes":{"md5":"9ae0ea9e3c9c6e1b9b6252c8395efdc1","sha256":"06e9d52c1720fca412803e3b07c4b22[...]
