http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/bdhyq/files/osfstorage/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5e334815342fc90009b70d56","type":"files","attributes":{"guid":null,"checkout":null,"name":"d.txt","kind":"file","path":"/5e334815342fc90009b70d56","size":2,"provider":"osfstorage","materialized_path":"/d.txt","last_touched":null,"date_modified":"2020-01-30T21:18:13.859596Z","date_created":"2020-01-30T21:18:13.859596Z","extra":{"hashes":{"md5":"48a24b70a0b376535542b996af517398","sha256":"7de1555df0c2700329e815b93b32c571c3ea54dc967b89e81ab73b9972b72d1d"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33480e88196e0009bdce4f/","meta":{}}},"data":{"id":"5e33480e88196e0009bdce4f","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/","meta":{}}},"data":{"id":"bdhyq","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/bdhyq/","meta":{"type":"node"}}},"data":{"type":"node","id":"bdhyq"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/","move":"https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e334815342fc90009b70d56","upload":"https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e334815342fc90009b70d56","delete":"https://files.us.test.osf.io/v1/resources/bdhyq/providers/osfstorage/5e334815342fc90009b70d56","download":"https://test.osf.io/download/5e334815342fc90009b70d56/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5e334815342fc90009b70d56/?direct%26mode=render","html":"https://test.osf.io/bdhyq/files/osfstorage/5e334815342fc90009b70d56","self":"https://api.test.osf.io/v2/files/5e334815342fc90009b70d56/"}},{"id":"5e33481e342fc90009b70d5e","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/5e33481e342fc90009b70d5e","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2020-01-30T21:18:22.568667Z","date_created":"2020-01-30T21:18:22.568667Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb93[...]
