http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/5dtxf/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:46:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: ca2a5d93-f4d4-4d60-a8bd-bc0118f06c4e
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/63273d66a870ac000a7c02cd", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "b026324c6904b2a9cb4b88d6d61c81d1",
        "sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"}},
        "kind": "file", "name": "a.txt", "path": "/63273d66a870ac000a7c02cd", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "6ca3388514d13fe8e678ce52eeb1eefa67d1393a8e051f0c990194695270c040",
        "contentType": "application/octet-stream", "modified": "2022-09-18T15:46:46.298034+00:00",
        "modified_utc": "2022-09-18T15:46:46+00:00", "created_utc": null, "size":
        2, "sizeInt": 2, "resource": "5dtxf"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd",
        "upload": "https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd",
        "download": "https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd"}}}'
  recorded_at: 2022-09-18 15:46:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
    [...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
    [...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/63273d66a870ac000a7c02cd/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"63273d66a870ac000a7c02cd","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/63273d66a870ac000a7c02cd","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2022-09-18T15:46:46.298034","date_created":"2022-09-18T15:46:46.298034Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d62044bea000b89ccbc/","meta":{}}},"data":{"id":"63273d62044bea000b89ccbc","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d66a870ac000a7c02cd/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/63273d66a870ac000a7c02cd/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{}}},"data":{"id":"5dtxf","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/5dtxf/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"5dtxf"}}},"links":{"info":"https://api.test.osf.io/v2/files/63273d66a870ac000a7c02cd/","move":"https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd","upload":"https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd","delete":"https://files.us.test.osf.io/v1/resources/5dtxf/providers/osfstorage/63273d66a870ac000a7c02cd","download":"https://test.osf.io/download/63273d66a870ac000a7c02cd/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/63273d66a870ac000a7c02cd/?direct%26mode=render","html":"https://test.osf.io/5dtxf/files/osfstorage/63273d66a870ac000a7c02cd","self":"https://api.test.osf.io/v2/files/63273d66a870ac000a7c02cd/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2022-09-18 15:46:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.2
[...]
