http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/ntecg/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: f35abed0-3f1c-4118-990c-fb6d7e9024e0
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/6021a05e5533dc00095c53da", "type": "files",
        "attributes": {"extra": {"guid": null, "version": 1, "downloads": 0, "checkout":
        null, "latestVersionSeen": null, "hashes": {"md5": "a5ea0ad9260b1550a14cc58d2c39b03d",
        "sha256": "f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"}},
        "kind": "file", "name": "a.txt", "path": "/6021a05e5533dc00095c53da", "provider":
        "osfstorage", "materialized": "/a.txt", "etag": "b956dcd63f8c5e3ff250872a04b38b3d0e11e1ed2c01642aa305228087c1aa3a",
        "contentType": "application/octet-stream", "modified": "2021-02-08T20:34:39.281699+00:00",
        "modified_utc": "2021-02-08T20:34:39+00:00", "created_utc": null, "size":
        3, "sizeInt": 3, "resource": "ntecg"}, "links": {"move": "https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da",
        "upload": "https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da",
        "download": "https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da"}}}'
  recorded_at: 2021-02-08 20:34:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 3'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/6021a05e5533dc00095c53da/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"6021a05e5533dc00095c53da","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/6021a05e5533dc00095c53da","size":3,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2021-02-08T20:34:39.281699Z","date_created":"2021-02-08T20:34:39.281699Z","extra":{"hashes":{"md5":"a5ea0ad9260b1550a14cc58d2c39b03d","sha256":"f1b2f662800122bed0ff255693df89c4487fbdcf453d3524a42d4ec20c3d9c04"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a0596c288a0009e53603/","meta":{}}},"data":{"id":"6021a0596c288a0009e53603","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a05e5533dc00095c53da/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/6021a05e5533dc00095c53da/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{}}},"data":{"id":"ntecg","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/ntecg/","meta":{"type":"node"}}},"data":{"type":"node","id":"ntecg"}}},"links":{"info":"https://api.test.osf.io/v2/files/6021a05e5533dc00095c53da/","move":"https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da","upload":"https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da","delete":"https://files.us.test.osf.io/v1/resources/ntecg/providers/osfstorage/6021a05e5533dc00095c53da","download":"https://test.osf.io/download/6021a05e5533dc00095c53da/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/6021a05e5533dc00095c53da/?direct%26mode=render","html":"https://test.osf.io/ntecg/files/osfstorage/6021a05e5533dc00095c53da","self":"https://api.test.osf.io/v2/files/6021a05e5533dc00095c53da/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 20:34:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
