http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/mzavs/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:06:10 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/?kind=file&name=a.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 0bcd6311-cd99-4daa-b60e-3778e9fac228
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"type": "files", "links": {"upload": "https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162?kind=file",
        "download": "https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162",
        "delete": "https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162",
        "move": "https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162"},
        "id": "osfstorage/5e33453904172e0009b16162", "attributes": {"path": "/5e33453904172e0009b16162",
        "resource": "mzavs", "etag": "8428ec9f3858cd23b3b790f777d7c00544397a406b844322e471a99bdabe638e",
        "name": "a.txt", "provider": "osfstorage", "materialized": "/a.txt", "size":
        2, "created_utc": null, "contentType": "application/octet-stream", "kind":
        "file", "modified": "2020-01-30T21:06:02.090822+00:00", "extra": {"hashes":
        {"sha256": "4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865",
        "md5": "b026324c6904b2a9cb4b88d6d61c81d1"}, "checkout": null, "downloads":
        0, "latestVersionSeen": null, "guid": null, "version": 1}, "modified_utc":
        "2020-01-30T21:06:02+00:00", "sizeInt": 2}}}'
  recorded_at: 2020-01-30 21:06:10 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/?kind=file&name=b.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF[...]
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/?kind=file&name=c.txt
    body:
      encoding: ''
      string: 'upload, file size: 2'
    headers:
      Content-Type: text/plain
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json; charset=UTF[...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5e33453904172e0009b16162/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5e33453904172e0009b16162","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/5e33453904172e0009b16162","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2020-01-30T21:06:02.090822Z","date_created":"2020-01-30T21:06:02.090822Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e3344f958cd6b00097d24eb/","meta":{}}},"data":{"id":"5e3344f958cd6b00097d24eb","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33453904172e0009b16162/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5e33453904172e0009b16162/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{}}},"data":{"id":"mzavs","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/mzavs/","meta":{"type":"node"}}},"data":{"type":"node","id":"mzavs"}}},"links":{"info":"https://api.test.osf.io/v2/files/5e33453904172e0009b16162/","move":"https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162","upload":"https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162","delete":"https://files.us.test.osf.io/v1/resources/mzavs/providers/osfstorage/5e33453904172e0009b16162","download":"https://test.osf.io/download/5e33453904172e0009b16162/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5e33453904172e0009b16162/?direct%26mode=render","html":"https://test.osf.io/mzavs/files/osfstorage/5e33453904172e0009b16162","self":"https://api.test.osf.io/v2/files/5e33453904172e0009b16162/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-01-30 21:06:10 GMT
  recorded_with: vcr/0.4.1.93, webmockr/0.5.1.96
[...]
