http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/rukda/children/?filter%5Btitle%5D=%26amp%3B&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"fcp6y","type":"nodes","attributes":{"title":"&gt; data
        &amp; &lt; files","description":"","category":"","custom_citation":null,"date_created":"2021-02-08T15:20:21.674053","date_modified":"2021-02-08T15:20:21.674053","registration":false,"preprint":false,"fork":false,"collection":false,"tags":[],"access_requests_enabled":true,"node_license":null,"current_user_can_comment":true,"current_user_permissions":["admin","write","read"],"current_user_is_contributor":true,"current_user_is_contributor_or_group_member":true,"wiki_enabled":true,"public":false,"subjects":[]},"relationships":{"children":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/children/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/comments/?filter%5Btarget%5D=fcp6y","meta":{}}}},"contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/contributors/","meta":{}}}},"bibliographic_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/bibliographic_contributors/","meta":{}}}},"implicit_contributors":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/implicit_contributors/","meta":{}}}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/files/","meta":{}}}},"settings":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/settings/","meta":{}}},"data":{"id":"fcp6y","type":"nodes"}},"wikis":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/wikis/","meta":{}}}},"forks":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/forks/","meta":{}}}},"groups":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/groups/","meta":{}}}},"node_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/node_links/","meta":{}}}},"linked_by_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/linked_by_nodes/","meta":{}}}},"linked_by_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/linked_by_registrations/","meta":{}}}},"parent":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/rukda/","meta":{}}},"data":{"id":"rukda","type":"nodes"}},"identifiers":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/identifiers/","meta":{}}}},"affiliated_institutions":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/institutions/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/relationships/institutions/","meta":{}}}},"draft_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/draft_registrations/","meta":{}}}},"registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/registrations/","meta":{}}}},"region":{"links":{"related":{"href":"https://api.test.osf.io/v2/regions/us/","meta":{}}},"data":{"id":"us","type":"regions"}},"root":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/rukda/","meta":{}}},"data":{"id":"rukda","type":"nodes"}},"logs":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/logs/","meta":{}}}},"linked_nodes":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/linked_nodes/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/relationships/linked_nodes/","meta":{}}}},"linked_registrations":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/linked_registrations/","meta":{}},"self":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/relationships/linked_registrations/","meta":{}}}},"view_only_links":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/view_only_links/","meta":{}}}},"citation":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/citation/","meta":{}}},"data":{"id":"fcp6y","type":"nodes"}},"preprints":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/preprints/","meta":{}}}},"storage":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/fcp6y/storage/","meta":{}}},"data":{"id":"fcp6y","type":"nodes"}}},"links":{"html":"https://test.osf.io/fcp6y/","self":"https://api.test.osf.io/v2/nodes/fcp6y/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 15:40:58 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/rukda/children/?filter%5Btitle%5D=%26lt%3B&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; [...]
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/rukda/children/?filter%5Btitle%5D=%26gt%3B&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, POST, HEAD, OPTIONS
      content-type: application/vnd.api+json; [...]
