http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5f395a22492a36000968bbcf/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5f395a22492a36000968bbcf","type":"files","attributes":{"guid":null,"checkout":null,"name":"a.txt","kind":"file","path":"/5f395a22492a36000968bbcf","size":2,"provider":"osfstorage","materialized_path":"/a.txt","last_touched":null,"date_modified":"2020-08-16T16:09:06.808616Z","date_created":"2020-08-16T16:09:06.808616Z","extra":{"hashes":{"md5":"b026324c6904b2a9cb4b88d6d61c81d1","sha256":"4355a46b19d348dc2f57c046f8ef63d4538ebb936000f3c9ee954a27460dd865"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5f395a1d60b93200095e224f/","meta":{}}},"data":{"id":"5f395a1d60b93200095e224f","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5f395a22492a36000968bbcf/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5f395a22492a36000968bbcf/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/qv9as/","meta":{}}},"data":{"id":"qv9as","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/qv9as/","meta":{"type":"node"}}},"data":{"type":"node","id":"qv9as"}}},"links":{"info":"https://api.test.osf.io/v2/files/5f395a22492a36000968bbcf/","move":"https://files.us.test.osf.io/v1/resources/qv9as/providers/osfstorage/5f395a22492a36000968bbcf","upload":"https://files.us.test.osf.io/v1/resources/qv9as/providers/osfstorage/5f395a22492a36000968bbcf","delete":"https://files.us.test.osf.io/v1/resources/qv9as/providers/osfstorage/5f395a22492a36000968bbcf","download":"https://test.osf.io/download/5f395a22492a36000968bbcf/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/5f395a22492a36000968bbcf/?direct%26mode=render","html":"https://test.osf.io/qv9as/files/osfstorage/5f395a22492a36000968bbcf","self":"https://api.test.osf.io/v2/files/5f395a22492a36000968bbcf/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:09:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: post
    uri: https://files.us.test.osf.io/v1/resources/qv9as/providers/osfstorage/5f395a22492a36000968bbcf
    body:
      encoding: ''
      string: '{"path":"/","resource":"qv9as","provider":"osfstorage","action":"copy","conflict":"warn"}'
    headers:
      Content-Type: application/json
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '409'
      message: Conflict
      explanation: Request conflict.
    headers:
      status: 'HTTP/2 409 '
      content-type: application/json; charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"code": 409, "message": "Cannot complete action: file or folder \"a.txt\"
        already exists in this location"}'
  recorded_at: 2020-08-16 16:09:26 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
