http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=d2&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"5f395a2d492a36000968bbe1","type":"files","attributes":{"guid":null,"checkout":null,"name":"d2","kind":"folder","path":"/5f395a2d492a36000968bbe1/","size":null,"provider":"osfstorage","materialized_path":"/d2/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5f395a1c60b93200095e224b/","meta":{}}},"data":{"id":"5f395a1c60b93200095e224b","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/5f395a2d492a36000968bbe1/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/","meta":{}}},"data":{"id":"t7zfr","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/","meta":{"type":"node"}}},"data":{"type":"node","id":"t7zfr"}}},"links":{"info":"https://api.test.osf.io/v2/files/5f395a2d492a36000968bbe1/","move":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2d492a36000968bbe1/","upload":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2d492a36000968bbe1/","delete":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2d492a36000968bbe1/","new_folder":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2d492a36000968bbe1/?kind=folder","self":"https://api.test.osf.io/v2/files/5f395a2d492a36000968bbe1/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:13:12 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: delete
    uri: https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2d492a36000968bbe1/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: 'HTTP/2 204 '
      x-waterbutler-request-id: 3fcbd586-5169-4cee-b912-acda65c02f97
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2020-08-16 16:13:12 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
