http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=d1&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:13:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/?kind=folder&name=d1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: e1c475b8-ed36-4130-bea2-e9e976d9123d
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/5f395b27213a150009a1ca6d/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": "d1", "path": "/5f395b27213a150009a1ca6d/",
        "provider": "osfstorage", "materialized": "/d1/", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "t7zfr", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/",
        "upload": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/?kind=folder"}}}'
  recorded_at: 2020-08-16 16:13:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5f395b27213a150009a1ca6d/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5f395b27213a150009a1ca6d","type":"files","attributes":{"guid":null,"checkout":null,"name":"d1","kind":"folder","path":"/5f395b27213a150009a1ca6d/","size":null,"provider":"osfstorage","materialized_path":"/d1/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5f395a1c60b93200095e224b/","meta":{}}},"data":{"id":"5f395a1c60b93200095e224b","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/5f395b27213a150009a1ca6d/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/","meta":{}}},"data":{"id":"t7zfr","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/","meta":{"type":"node"}}},"data":{"type":"node","id":"t7zfr"}}},"links":{"info":"https://api.test.osf.io/v2/files/5f395b27213a150009a1ca6d/","move":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/","upload":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/","delete":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/","new_folder":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/?kind=folder","self":"https://api.test.osf.io/v2/files/5f395b27213a150009a1ca6d/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:13:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/5f395b27213a150009a1ca6d/?filter%5Bkind%5D=folder&filter%5Bname%5D=d2&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:13:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b27213a150009a1ca6d/?kind=folder&name=d2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id:[...]
[...]
- request:
    method: delete
    uri: https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395b29492a36000968bc18/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: 'HTTP/2 204 '
      x-waterbutler-request-id: 24bd9928-e8b7-43fd-8630-7571e95153db
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2020-08-16 16:13:30 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
