http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=parent&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:09:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/?kind=folder&name=parent
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 3982e1be-c206-4a4e-be1a-81a32fc7c55e
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/5f395a2f213a150009a1ca32/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": "parent", "path": "/5f395a2f213a150009a1ca32/",
        "provider": "osfstorage", "materialized": "/parent/", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "t7zfr", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/",
        "upload": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/?kind=folder"}}}'
  recorded_at: 2020-08-16 16:09:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/5f395a2f213a150009a1ca32/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"5f395a2f213a150009a1ca32","type":"files","attributes":{"guid":null,"checkout":null,"name":"parent","kind":"folder","path":"/5f395a2f213a150009a1ca32/","size":null,"provider":"osfstorage","materialized_path":"/parent/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/5f395a1c60b93200095e224b/","meta":{}}},"data":{"id":"5f395a1c60b93200095e224b","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/5f395a2f213a150009a1ca32/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/","meta":{}}},"data":{"id":"t7zfr","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/t7zfr/","meta":{"type":"node"}}},"data":{"type":"node","id":"t7zfr"}}},"links":{"info":"https://api.test.osf.io/v2/files/5f395a2f213a150009a1ca32/","move":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/","upload":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/","delete":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/","new_folder":"https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/?kind=folder","self":"https://api.test.osf.io/v2/files/5f395a2f213a150009a1ca32/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:09:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/t7zfr/files/osfstorage/5f395a2f213a150009a1ca32/?filter%5Bkind%5D=folder&filter%5Bname%5D=child&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2020-08-16 16:09:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/t7zfr/providers/osfstorage/5f395a2f213a150009a1ca32/?kind=folder&name=child
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-[...]
[...]
