http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/jsvzm/files/osfstorage/602155ddaec3160009222907/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"602155e6bb74460009831c6d","type":"files","attributes":{"guid":null,"checkout":null,"name":"osfr-local-file.txt","kind":"file","path":"/602155e6bb74460009831c6d","size":54,"provider":"osfstorage","materialized_path":"/data/osfr-local-file.txt","last_touched":null,"date_modified":"2021-02-08T15:16:54.182454Z","date_created":"2021-02-08T15:16:54.182454Z","extra":{"hashes":{"md5":"f6b63b0c44f5b9d196a745e65879be1c","sha256":"85e691bfaa7d5c46c044e685b79e1d862fc6bba173e58fe505d89ca73c30b51f"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155ddaec3160009222907/","meta":{}}},"data":{"id":"602155ddaec3160009222907","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155e6bb74460009831c6d/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155e6bb74460009831c6d/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/","meta":{}}},"data":{"id":"jsvzm","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/","meta":{"type":"node"}}},"data":{"type":"node","id":"jsvzm"}}},"links":{"info":"https://api.test.osf.io/v2/files/602155e6bb74460009831c6d/","move":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155e6bb74460009831c6d","upload":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155e6bb74460009831c6d","delete":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155e6bb74460009831c6d","download":"https://test.osf.io/download/602155e6bb74460009831c6d/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/602155e6bb74460009831c6d/?direct%26mode=render","html":"https://test.osf.io/jsvzm/files/osfstorage/602155e6bb74460009831c6d","self":"https://api.test.osf.io/v2/files/602155e6bb74460009831c6d/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 15:16:54 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
