http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/jsvzm/files/osfstorage/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"id":"602155e0aec316000922290a","type":"files","attributes":{"guid":null,"checkout":null,"name":"osfr-local-file.txt","kind":"file","path":"/602155e0aec316000922290a","size":40,"provider":"osfstorage","materialized_path":"/osfr-local-file.txt","last_touched":null,"date_modified":"2021-02-08T15:16:48.890998Z","date_created":"2021-02-08T15:16:48.890998Z","extra":{"hashes":{"md5":"686d347b97dbbfa88f852ab3e72e5999","sha256":"5cb4615c09d7a8bb0a75688e183bb1fd30f25291a1461d02fccff2111c6a2d1f"},"downloads":0},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155dc89a4bf0009f896e1/","meta":{}}},"data":{"id":"602155dc89a4bf0009f896e1","type":"files"}},"versions":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155e0aec316000922290a/versions/","meta":{}}}},"metadata_records":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155e0aec316000922290a/metadata_records/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/","meta":{}}},"data":{"id":"jsvzm","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/","meta":{"type":"node"}}},"data":{"type":"node","id":"jsvzm"}}},"links":{"info":"https://api.test.osf.io/v2/files/602155e0aec316000922290a/","move":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155e0aec316000922290a","upload":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155e0aec316000922290a","delete":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155e0aec316000922290a","download":"https://test.osf.io/download/602155e0aec316000922290a/","render":"https://mfr.us.test.osf.io/render?url=https://test.osf.io/download/602155e0aec316000922290a/?direct%26mode=render","html":"https://test.osf.io/jsvzm/files/osfstorage/602155e0aec316000922290a","self":"https://api.test.osf.io/v2/files/602155e0aec316000922290a/"}}],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":1,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 15:16:49 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
