http_interactions:
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/jsvzm/files/osfstorage/?filter%5Bkind%5D=folder&filter%5Bname%5D=empty&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 15:16:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: put
    uri: https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/?kind=folder&name=empty
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json; charset=UTF-8
      x-waterbutler-request-id: 6c158e21-8b74-481c-80dd-e720ab01d80a
    body:
      encoding: UTF-8
      file: no
      string: '{"data": {"id": "osfstorage/602155eabb74460009831c77/", "type": "files",
        "attributes": {"extra": {}, "kind": "folder", "name": "empty", "path": "/602155eabb74460009831c77/",
        "provider": "osfstorage", "materialized": "/empty/", "etag": "5caf8ab73c068565297e455ebce37fd64b6897a2284ec9d7ecba8b6093082bcd",
        "resource": "jsvzm", "size": null, "sizeInt": null}, "links": {"move": "https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/",
        "upload": "https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/?kind=file",
        "delete": "https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/",
        "new_folder": "https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/?kind=folder"}}}'
  recorded_at: 2021-02-08 15:16:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/files/602155eabb74460009831c77/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, PUT, PATCH, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"id":"602155eabb74460009831c77","type":"files","attributes":{"guid":null,"checkout":null,"name":"empty","kind":"folder","path":"/602155eabb74460009831c77/","size":null,"provider":"osfstorage","materialized_path":"/empty/","last_touched":null,"date_modified":null,"date_created":null,"extra":{"hashes":{"md5":null,"sha256":null}},"tags":[],"current_user_can_comment":true,"current_version":1},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.test.osf.io/v2/files/602155dc89a4bf0009f896e1/","meta":{}}},"data":{"id":"602155dc89a4bf0009f896e1","type":"files"}},"files":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/files/osfstorage/602155eabb74460009831c77/","meta":{}}}},"node":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/","meta":{}}},"data":{"id":"jsvzm","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.test.osf.io/v2/nodes/jsvzm/","meta":{"type":"node"}}},"data":{"type":"node","id":"jsvzm"}}},"links":{"info":"https://api.test.osf.io/v2/files/602155eabb74460009831c77/","move":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/","upload":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/","delete":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/","new_folder":"https://files.us.test.osf.io/v1/resources/jsvzm/providers/osfstorage/602155eabb74460009831c77/?kind=folder","self":"https://api.test.osf.io/v2/files/602155eabb74460009831c77/"}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 15:16:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.test.osf.io/v2/nodes/jsvzm/files/osfstorage/602155eabb74460009831c77/?filter%5Bkind%5D=file&page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <totallyrealpat>
      Accept-Header: application/vnd.api+json;version=2.8
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      allow: GET, HEAD, OPTIONS
      content-type: application/vnd.api+json; charset=utf-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[],"links":{"first":null,"last":null,"prev":null,"next":null,"meta":{"total":0,"per_page":10}},"meta":{"version":"2.0"}}'
  recorded_at: 2021-02-08 15:16:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
